@media (max-width: 1938px)
    .container
        width: 952px !important
    .header__top
        margin-top: 58px
    .header__top__container
        flex-direction: column
    .header__top__left
        position: absolute
        top: 17px
        width: 952px
        justify-content: space-between
    .header__top__region
        padding-top: 3px
    .header__top__list
        margin-left: -10px 
    .header__bottom__container
        position: relative
    .header__bottom__right
        position: absolute
        top: -132px
        right: 0
    .logo
        height: 27px
    .header__mid__item:not(:last-child)
        margin-right: 21px !important
    .header__bottom__search,
    .header__bottom__search__input
        width: 652px
    .hero__slide__img
        width: fit-content !important
    .swiper
        width: 1024px !important
    .swiper-slide
        width: 1024px !important
    .special__swiper,
    .special__swiper-wrapper
        width: 952px !important
    .special__slide,
    .special__slide__main
        width: 296px !important
    .special__slide__scheme
        display: none
    .special__slide__title
        margin-bottom: 19px !important
    .s-s-img-2,
    .s-s-img-5
        width: 254px !important
        height: 138px !important
        margin-bottom: 48px !important
    .high-raiting__card:nth-child(7),
    .high-raiting__card:nth-child(8)
        display: none
    .high-raiting__block
        grid-template-columns: repeat(3, 1fr) !important
    .oxford
        height: 600px !important
        margin-bottom: 70px !important
    .top-categories__block
        grid-template-columns: repeat(3, 1fr) !important
        grid-template-areas: "top-left top-left bottom-left" "bottom-mid top-right bottom-right" !important
    .top-categories__card
        width: 296px !important
        height: 511px !important
    .t-c-c-1
        width: 624px !important
    .t-c-c-2
        background-position: -230px 130px !important
        background-size: 490px  !important
    .t-c-c-3
        background-position: 0px 125px !important
        background-size: 448px 296px
    .t-c-c-4
        background-position: -228px 125px !important
        background-size: 480px  !important
    .t-c-c-5
        background-position: -161px 107px !important
        background-size: 449px  !important
    .useful__swiper
        width: 952px !important
        height: fit-content !important
    .useful__wrapper
        height: 456px !important
    .useful__slide
        width: 296px !important
        height: 456px !important
        background-size: 100% 202px !important
    .useful__content
        width: 296px
        height: 254px !important
    .useful__text
        font-size: 16px !important
        line-height: 22px !important
    .we-glad__form
        width: 405px !important
    .we-glad__img
        width: 514px !important
        height: 316px !important
    .tooltip
        top: 97px !important
        right: 322px !important
    .f-t-r-l-1
        margin-right: 75px !important
    .f-t-r-l-2
        margin-right: 95px !important
    .f-t-r-l-3
        margin-right: 110px !important

@media (max-width: 1041px)
    .container
        width: 624px !important
    .header__top__left
        width: 624px
    .header__mid__nav
        position: fixed
        top: 0
        left: -100vw
        padding: 50px
        transition: all 0.5s ease-in-out
        background-color: #FFFFFF
        height: 100vh !important
        width: 30vw !important
        z-index: 1000
    .header__mid__list
        flex-direction: column
    .header__mid__close
        display: block
        margin-bottom: 20px
    .header__mid__link
        padding: 0
    .header__mid .container
        justify-content: flex-start !important
        align-items:  center !important
    .header__mid__logo
    .header__bottom__right
        top:-60px
    .header__top__list
        justify-content: space-between
    .header__top__item:not(:last-child)
        margin-right: 0px !important
    .header__bottom__search,
    .header__bottom__search__input
        width: 435px !important
    .header__bottom__category,
    .header__bottom__category__btn
        width: 189px !important
    .header__bottom__category__dropdown
        width: 189px !important
    .header__bottom__category__list
        column-count: 1 !important
    .header__mid__burger
        display: block !important
        margin-right: 194px
    .hero__swiper,
    .hero__slide
        width: 768px !important
    .special__swiper
        width: 624px !important
    .high-raiting__block
        grid-template-columns: repeat(2, 1fr) !important
    .top-categories__block
        grid-template-columns: repeat(2, 1fr) !important
        grid-template-areas: "top-left top-left" "bottom-left top-right" "bottom-mid  bottom-right" !important
    .oxford__container
        width: 696px !important
    .useful__swiper
        width: 624px !important
    .we-glad
        margin-bottom: 70px !important
    .we-glad__img
        width: 187px !important
        height: 444px !important
    .we-glad__form__input:last-child
        margin-bottom: 31px
    .footer__top
        padding: 25px 0 !important
    .footer__top .container
        flex-direction: column !important
    .footer__top__left
        flex-direction: row !important
        margin-bottom: 22px
    .f-t-r-l-1
        margin-right: 40px !important
    .f-t-r-l-2
        margin-right: 58px !important
    .f-t-r-l-3
        margin-right: 72px !important

@media (max-width: 767px)
    .container
        width: 296px !important
    .header__top
        margin-top: 0
    .header__top__left
        flex-direction: column
        top: 67px
        width: 296px
    .header__top__region
        margin-bottom: 14px
    .header__top__nav
        display: none
    .header__top__region__dropdown
        left: 0
        width: 150px
        z-index: 10
    .header__mid
        height: 159px
        padding: 0 !important
    .header__mid__logo
        position: absolute
        top: 12px !important
        left: 0
        right: 0
        margin: 0 auto
    .header__mid__burger
        position: absolute
        top: 156px
        transform: translateX(4px)
    .header__mid__nav
        padding: 50px 10px !important
        width: 70vw !important
    .header__bottom__left
        flex-direction: column !important
    .header__bottom__right
        top: -56px
    .header__bottom__search,
    .header__bottom__search__input,
    .header__bottom__category,
    .header__bottom__category__btn
        width: 296px !important
        border-radius: 10px !important
    .header__bottom__search
        margin-bottom: 16px
    .header__bottom__category__dropdown
        width: 296px !important
    .header__bottom__category__list
        column-count: 2 !important
    .hero__swiper
        margin-bottom: 32px !important
    .hero__swiper,
    .hero__slide
        width: 320px !important
        height: 210px !important
    .hero__content
        padding: 30px 18px !important
    .content__title
        font-size: 20px !important
        line-height: 27px !important
    .content__btn
        display: none
    .swiper-pagination
        bottom: 16px !important
    .swiper-pagination-bullets
        height: 6px
        bottom: 19px !important
    .swiper-pagination-bullet
        width: 6px !important
        height: 6px !important
        margin-right: 5px !important
    .hero__bottom__btn 
        display: block !important
        margin: 0 auto
        width: 296px !important
    .title
        width: 296px
        font-size: 24px !important
    .special__swiper
        width: 296px !important
        height: 633px !important
    .special__buttons
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin: 0 auto
    .high-raiting__block
        gap: 16px !important
    .high-raiting__card
        padding: 16px !important
        width: 140px !important
        height: 278px !important
    .high-raiting__card__title
        font-size: 16px !important
        margin-bottom: 16px !important
    .high-raiting__card__price
        margin-bottom: 16px !important
    .high-raiting__card__btn
        width: 108px !important
        height: 40px !important
    .high-raiting__card__img
        width: 108px
        bottom: 188px !important
    .high-raiting__card__raiting
        background-size: 12px
    .oxford
        height: 302px !important
    .oxford__container
        padding: 30px 0 !important
    .oxford__title
        font-size: 16px !important
        span
            font-size: 24px !important
    .oxford__btn
        position: absolute
        left: 0
        right: 0
        bottom: 0
        margin: 0 auto
        width: 296px !important
    .top-categories
        margin-bottom: 76px !important
    .top-categories__block
        grid-template-columns: repeat(2, 1fr) !important
        gap: 16px !important
        grid-row-gap: 32px !important
        grid-template-areas: "top-left top-left" "bottom-left top-right" "bottom-mid bottom-right" !important
    .top-categories__card
        position: relative
        width: 140px !important
        height: 206px !important
        justify-content: flex-start !important
        padding: 16px !important
    .top-categories__card:first-child
        padding: 30px !important
        width: 296px !important
        height: 332px !important
        .top-categories__card__list
            flex-direction: row !important
            margin-bottom: 14px !important
        .top-categories__card__item
            font-size: 14px
            margin-bottom: 4px
        .top-categories__card__title
            font-size: 24px !important
        .top-categories__card__link svg
            position: absolute
            top: 66px
            left: 128px
    .top-categories__card:not(first-child)
        .top-categories__card__title
            font-size: 16px !important
            line-height: 104% !important
        .top-categories__card__item
            font-size: 10px
            margin-bottom: 4px
        .top-categories__card__item:last-child
            margin-bottom: 0
        .top-categories__card__list
            flex-direction: column !important
            margin-bottom: 10px !important
        .top-categories__card__link svg
            position: absolute
            top: 48px
            left: 86px
    .top-categories__card__item
        margin-right: 20px !important
    
    .top-categories__card__link p
        display: none
    
    .t-c-c-1
        background-position: -50px 104px !important
        background-size: 354px !important
    .t-c-c-4
        background-position: 2px 103px !important
        background-size: 142px  !important
        .top-categories__card__link svg
            top: 65px !important
            left: 95px !important
    .t-c-c-3
        background-position: 0px 86px !important
        background-size: 157px
    .t-c-c-2
        background-position: -18px 85px !important
        background-size: 175px !important
        .top-categories__card__link svg
            top: 49px !important
            left: 76px !important
    .t-c-c-5
        background-position: -7px 77px !important
        background-size: 157px  !important
        .top-categories__card__link svg
            top: 48px !important
            left: 75px !important
    .useful__swiper
        width: 296px !important
        height: 557px !important
    .useful__buttons
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin: 0 auto
    .tooltip
        top: 108px !important
        left: 138px !important
    .we-glad
        margin-bottom: 66px !important
    .we-glad__form__text
        margin-bottom: 14px !important
    .we-glad__form__field p
        font-size: 12px
    .we-glad__img
        display: none
    .footer__top 
        padding-bottom: 3px !important
    .footer__top__left__logo
        margin-bottom: 24px !important
    .footer__top__left
        flex-direction: column !important
        align-items: center
    .footer__top__right
        flex-wrap: wrap
        height: 221px !important
    .f-t-r-l-1
        margin-right: 70px !important
    .f-t-r-l-2
        margin-right: 0px !important
    .f-t-r-l-3
        margin-right: 48px !important