* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
.header {
  margin-bottom: 32px;
}
.header__top {
  padding: 17px 0;
  background-color: #F7F7F7;
  height: 50px;
}
.header__top__container {
  justify-content: space-between;
}
.header__top__region {
  position: relative;
  margin-right: 30px;
}
.header__top__region__your {
  margin-right: 4px;
  color: #333333;
}
.header__top__region__choose {
  padding: 2px;
}
.header__top__region__choose p,
.header__top__region__choose svg svg path {
  transition: all 0.3s ease;
}
.header__top__region__choose:hover p {
  color: #C998FB;
}
.header__top__region__choose:hover svg path {
  fill: #C998FB;
}
.header__top__region__choose:focus {
  background-color: #C998FB;
}
.header__top__region__choose:active p, .header__top__region__choose:focus p {
  color: #7033AC;
}
.header__top__region__choose:active svg path, .header__top__region__choose:focus svg path {
  fill: #7033AC;
}
.header__top__region__option {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  margin-right: 4px;
  color: #A65CF0;
}
.header__top__region__btn {
  height: 100%;
}
.header__top__region__arrow {
  pointer-events: none;
  height: 100%;
  transition: transform 0.3s ease;
}
.header__top__region__dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  padding: 16px;
  border: 2px solid #F7F7F7;
  background-color: #FFFFFF;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.header__top__region__city {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 11px;
  cursor: pointer;
}
.header__top__region .region-dropdown-visibility {
  opacity: 1;
  pointer-events: auto;
}
.header__top__region .region-dropdown-rotate {
  transform: rotate(180deg);
}
.header__top__tel {
  align-items: center;
  color: #FF862F;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease;
}
.header__top__tel svg {
  margin-right: -1px;
}
.header__top__tel svg path {
  transition: all 0.3s ease;
}
.header__top__tel:hover {
  color: #FFBD59;
}
.header__top__tel:hover svg path {
  fill: #FFBD59;
}
.header__top__tel:focus {
  background-color: #FFF5D1;
}
.header__top__tel:active {
  color: #BB370E;
}
.header__top__tel:active svg path {
  fill: #BB370E;
}
.header__top__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #999999;
}
.header__top__item {
  margin-right: 44px;
}
.header__top__item:last-child {
  margin-right: -10px;
}
.header__top__link {
  padding: 0 10px;
  transition: all 0.3s ease;
}
.header__top__link:focus {
  background-color: #C998FB;
  color: #7033AC;
}
.header__top__link:hover {
  color: #A65CF0;
}
.header__top__link:active {
  color: #7033AC;
  background-color: transparent;
}
.header__mid {
  padding: 32px 0;
}
.header__mid__container {
  justify-content: space-between;
}
.header__mid__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333333;
  margin-right: 71px;
}
.header__mid__item:last-child {
  margin-right: -10px;
}
.header__mid__link {
  padding: 0 11px 0 10px;
  transition: all 0.3s ease;
}
.header__mid__link:focus {
  background-color: #C998FB;
  color: #7033AC;
}
.header__mid__link:hover {
  color: #A65CF0;
}
.header__mid__link:active {
  color: #7033AC;
  background-color: transparent;
}
.header__mid__burger {
  display: none;
  height: 24px;
}
.header__mid__close {
  display: none;
  height: 24px;
}
.header__bottom__container {
  justify-content: space-between;
  align-items: center;
}
.header__bottom__search {
  position: relative;
  width: 761px;
}
.header__bottom__search__input {
  padding: 20px 100px 20px 59px;
  background-color: #F7F7F7;
  border: 2px solid #F7F7F7;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 60px;
  transition: all 0.3s ease;
}
.header__bottom__search__input:hover {
  background-color: #EAEAEA;
}
.header__bottom__search__input:focus {
  background-color: #F8EFFF;
  border: 2px solid #A65CF0;
}
.header__bottom__search__input:active {
  background-color: #F7F7F7;
  border: 2px solid #F7F7F7;
}
.header__bottom__search__input:active + svg path {
  fill: #A65CF0;
}
.header__bottom__search__icon {
  position: absolute;
  top: 20px;
  left: 32px;
}
.header__bottom__search__btn {
  position: absolute;
  top: 14px;
  right: 32px;
}
.header__bottom__category {
  position: relative;
  width: 300px;
  height: 60px;
  z-index: 10;
}
.header__bottom__category__btn {
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border: 2px solid #F7F7F7;
  border-radius: 0px 10px 10px 0px;
  width: 300px;
  height: 60px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.3s ease;
}
.header__bottom__category__btn:hover {
  border: 2px solid #A65CF0;
}
.header__bottom__category__btn:focus {
  border: 2px solid #A65CF0;
  background-color: #F8EFFF;
}
.header__bottom__category__btn:active {
  border: 2px solid #7033AC;
  background-color: transparent;
}
.header__bottom__category__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #A65CF0;
  pointer-events: none;
}
.header__bottom__category__dropdown {
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 22px 30px;
  width: 300px;
  border: 2px solid #F7F7F7;
  background-color: #FFFFFF;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border-radius: 0px 0px 10px 10px;
}
.header__bottom__category__arrow {
  pointer-events: none;
  transition: all 0.3s ease;
}
.header__bottom__category .category-dropdown-visibility {
  opacity: 1;
  pointer-events: auto;
}
.header__bottom__category .category-dropdown-rotate {
  transform: rotate(180deg);
}
.header__bottom__category__list {
  column-count: 2;
  column-gap: 20px;
}
.header__bottom__category__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 11px;
  cursor: pointer;
}
.header__bottom__right {
  align-items: center;
  height: 28px;
}
.header__bottom__right__icon {
  position: relative;
  display: block;
}
.header__bottom__right__icon svg {
  position: absolute;
}
.header__bottom__right .user {
  width: 26px;
  height: 28px;
}
.header__bottom__right .cart {
  width: 41px;
  height: 28px;
}
.header__bottom__right__icon:first-child {
  margin-right: 32px;
}
.header__bottom__right__icon::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: #C998FB;
  opacity: 0;
  z-index: 1;
}
.header__bottom__right__icon:focus svg {
  fill: #FFFFFF;
  z-index: 10;
}
.header__bottom__right__icon:focus svg path:first-child {
  fill: #FFFFFF;
}
.header__bottom__right__icon:focus::before {
  opacity: 1;
}
.header__bottom__right__icon:hover svg path:first-child {
  fill: #C998FB;
}
.header__bottom__right__icon:active svg path:first-child {
  fill: #7033AC;
}
.header__bottom__right__icon:active::before {
  opacity: 0;
}

.burger-open {
  opacity: 1 !important;
  visibility: visible !important;
}

.header__top__nav-active {
  position: absolute !important;
  top: 593px;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 10000 !important;
}

.footer__top {
  padding: 23px 0 24px 0;
  background-color: #EAEAEA;
}
.footer__top__container {
  justify-content: space-between;
}
.footer__top__left {
  flex-direction: column;
  justify-content: space-between;
}
.footer__top__left__social {
  height: 30px;
}
.footer__top__left__social a:not(:last-child) {
  margin-right: 20px;
}
.footer__top__right {
  margin-right: -10px;
}
.footer__top__right__list:not(:last-child) {
  margin-right: 0px;
}
.footer__top__right__item {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.footer__top__right__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__top__right .main {
  padding: 0 10px;
  color: #333333;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
}
.footer__top__right__link {
  padding: 0 10px;
  transition: all 0.3s ease;
}
.footer__top__right__link:focus {
  background-color: #C998FB;
  color: #7033AC;
}
.footer__top__right__link:hover {
  color: #A65CF0;
}
.footer__top__right__link:active {
  color: #7033AC;
  background-color: transparent;
}
.footer .f-t-r-l-1 {
  margin-right: 94px;
}
.footer .f-t-r-l-2 {
  margin-right: 112px;
}
.footer .f-t-r-l-3 {
  margin-right: 126px;
}
.footer__bottom {
  padding: 5px 0;
  height: 30px;
}
.footer__bottom__copyr {
  color: #999999;
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.footer .soc-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}
.footer .soc-icon svg path {
  transition: all 0.3s ease;
}
.footer .soc-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: #C998FB;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease;
}
.footer .soc-icon svg {
  position: absolute;
  z-index: 10;
}
.footer .soc-icon:focus::before {
  opacity: 1;
}
.footer .soc-icon:focus svg path {
  fill: #FFFFFF;
}
.footer .soc-icon:hover path {
  fill: #A65CF0;
}
.footer .soc-icon:active svg path {
  fill: #7033AC;
}
.footer .soc-icon:active::before {
  opacity: 0;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 30px 30px 32px 30px;
  min-height: 420px;
  width: 296px;
  border-radius: 10px;
  background-color: #F7F7F7;
}
.card__raiting {
  color: #FF862F;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  background-image: url("../../img/star.svg");
  background-position: left center;
  padding-left: 21px;
}
.card__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 232px;
  margin: 0 auto;
}
.card__info {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 156px;
}
.card__title {
  color: #333333;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}
.card__price {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 24px;
}
.card__btn {
  width: 296px;
}

.c-1 {
  background-image: url("../../img/R-94.png");
  background-position: center 108px;
}

.c-2 {
  background-image: url("../../img/T-75.png");
  background-position: center 89px;
}

.c-3 {
  background-image: url("../../img/D-31.png");
  background-position: center 87px;
}

.c-4 {
  background-image: url("../../img/Y-68.png");
  background-position: center 65px;
}

.c-5 {
  background-image: url("../../img/W-95.png");
  background-position: center 73px;
}

.c-6 {
  background-image: url("../../img/G-41.png");
  background-position: center 74px;
}

.c-7 {
  background-image: url("../../img/V-43.png");
  background-position: center 60px;
}

.c-8 {
  background-image: url("../../img/S-99.png");
  background-position: center 67px;
}

.c-9 {
  background-image: url("../../img/f-85.png");
  background-position: center 65px;
}

.c-10 {
  background-image: url("../../img/h-64.png");
  background-position: center 62px;
}

.c-11 {
  background-image: url("../../img/h-58.png");
  background-position: center 59px;
}

.c-12 {
  background-image: url("../../img/r-43.png");
  background-position: center 87px;
}

.c-13 {
  background-image: url("../../img/c-42.png");
  background-position: center 65px;
}

.c-14 {
  background-image: url("../../img/u-58.png");
  background-position: center 100px;
}

.c-15 {
  background-image: url("../../img/f-41.png");
  background-position: center 86px;
}

.c-16 {
  background-image: url("../../img/r-85.png");
  background-position: center 87px;
}

.c-17 {
  background-image: url("../../img/s-44.png");
  background-position: center 87px;
}

.c-18 {
  background-image: url("../../img/c-80.png");
  background-position: center 62px;
}

@media (max-width: 767px) {
  .card {
    padding: 16px !important;
    width: 140px !important;
    min-height: 278px !important;
    background-size: 108px !important;
  }
  .card a {
    height: auto !important;
  }
  .card__raiting {
    font-size: 12px !important;
  }
  .card__img {
    width: 108px !important;
    bottom: 191px !important;
  }
  .card__info {
    padding-top: 77px !important;
  }
  .card__title {
    font-size: 16px !important;
    margin-bottom: 16px !important;
  }
  .card__price {
    margin-bottom: 16px !important;
  }
  .card__btn {
    width: 108px !important;
    height: 40px !important;
  }
  .c-1 {
    background-position: center 50px;
  }
  .c-2 {
    background-position: center 45px;
  }
  .c-3 {
    background-position: center 45px;
  }
  .c-4 {
    background-position: center 45px;
  }
  .c-5 {
    background-position: center 45px;
  }
  .c-6 {
    background-position: center 45px;
  }
  .c-7 {
    background-position: center 45px;
  }
  .c-8 {
    background-position: center 45px;
  }
  .c-9 {
    background-position: center 45px;
  }
  .c-10 {
    background-position: center 45px;
  }
  .c-11 {
    background-position: center 40px;
  }
  .c-12 {
    background-position: center 45px;
  }
  .c-13 {
    background-position: center 45px;
  }
  .c-14 {
    background-position: center 45px;
  }
  .c-15 {
    background-position: center 45px;
  }
  .c-16 {
    background-position: center 47px;
  }
  .c-17 {
    background-position: center 45px;
  }
  .c-18 {
    background-position: center 45px;
  }
}
* {
  outline: none;
  text-decoration: none;
  background-repeat: no-repeat;
}

a {
  color: inherit;
}

body {
  font-family: "OpenSans";
  font-weight: 400;
  background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
}

.btn-primary {
  width: 187px;
  height: 60px;
  background-color: #A65CF0;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btn-primary:focus {
  background-color: #C998FB;
  border: 2px solid #7033AC;
}

.btn-primary:hover {
  background-color: #C998FB;
}

.btn-primary:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
}

.btn-primary:disabled {
  background-color: #EAEAEA;
  border: none;
  color: #999999;
}

.btn-secondary {
  width: 128px;
  height: 54px;
  border: 2px solid #A65CF0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #A65CF0;
  transition: all 0.3s ease;
}

.btn-secondary:focus {
  background-color: #C998FB;
  color: #FFFFFF;
}

.btn-secondary:hover {
  background-color: #A65CF0;
  color: #FFFFFF;
}

.btn-secondary:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
  color: #FFFFFF;
}

.arrow circle,
.arrow path {
  transition: all 0.3s ease;
}

.arrow:focus circle {
  stroke: #A65CF0;
  fill: #C998FB;
}

.arrow:focus path {
  stroke: #FFFFFF;
}

.arrow:hover circle {
  fill: #A65CF0;
}

.arrow:hover path {
  stroke: #FFFFFF;
}

.arrow:active circle {
  fill: #7033AC;
  stroke: #7033AC;
}

.arrow:active path {
  stroke: #FFFFFF;
}

.flex {
  display: flex;
}

.title {
  color: #333333;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 26px;
}

#agree {
  display: none;
}

#agree + .check {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-right: 8px;
  transform: translateY(2px);
  overflow: hidden;
}

#agree + .check:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  right: 0;
  bottom: 0;
}

#agree:checked + .check {
  background-color: #A65CF0;
  border: 1px solid #A65CF0;
}

#agree:checked + .check:before {
  background-color: #A65CF0;
  background-image: url("../../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.just-validate-success-field {
  border: 1px solid #B8EC64 !important;
}

.is-invalid {
  border: 1px solid #FF6972 !important;
}

.breadcrump {
  margin-bottom: 30px;
}
.breadcrump__item {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-right: 6px;
}
.breadcrump__item__active {
  color: #7033AC;
}
.breadcrump__item:not(:first-child)::before {
  content: "/";
  margin-right: 3px;
  color: #999999;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  height: 32px;
  width: 32px;
  margin: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
  --swiper-navigation-size: 0;
}

.swiper-button-disabled svg path,
.swiper-button-disabled svg circle {
  stroke: #999999;
}

.swiper-button-disabled {
  opacity: 1 !important;
}

@media (max-width: 1919px) {
  .container {
    width: 952px !important;
  }
  .header__top {
    margin-top: 58px;
  }
  .header__top__container {
    flex-direction: column;
  }
  .header__top__left {
    position: absolute;
    top: 17px;
    width: 952px;
    justify-content: space-between;
  }
  .header__top__region {
    padding-top: 3px;
  }
  .header__top__list {
    margin-left: -10px;
  }
  .header__bottom__container {
    position: relative;
  }
  .header__bottom__right {
    position: absolute;
    top: -132px;
    right: 0;
  }
  .logo {
    height: 27px;
  }
  .header__mid__item:not(:last-child) {
    margin-right: 21px !important;
  }
  .header__bottom__search,
.header__bottom__search__input {
    width: 652px;
  }
  .hero__slide {
    max-width: 1024px !important;
  }
  .hero__slide__img {
    width: 100% !important;
  }
  .hero__content {
    max-width: 952px !important;
  }
  .swiper {
    max-width: 1024px !important;
  }
  .swiper-slide {
    max-width: 1024px !important;
  }
  .special__swiper,
.special__swiper-wrapper {
    width: 952px !important;
  }
  .special__slide,
.special__slide__main {
    width: 296px !important;
  }
  .special__slide__scheme {
    display: none;
  }
  .special__slide__title {
    margin-bottom: 19px !important;
  }
  .s-s-2,
.s-s-5 {
    padding-top: 112px !important;
  }
  .s-s-img-2,
.s-s-img-5 {
    width: 254px !important;
    height: 138px !important;
    margin-bottom: 48px !important;
    margin-left: -10px !important;
  }
  .high-raiting__card:nth-child(7),
.high-raiting__card:nth-child(8) {
    display: none;
  }
  .high-raiting__block {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .oxford {
    max-width: 1024px !important;
    height: 600px !important;
    margin-bottom: 70px !important;
  }
  .oxford__img {
    width: 100% !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-areas: "top-left top-left bottom-left" "bottom-mid top-right bottom-right" !important;
  }
  .top-categories__card {
    width: 296px !important;
    height: 511px !important;
  }
  .t-c-c-1 {
    width: 624px !important;
  }
  .t-c-c-2 {
    background-position: -230px 130px !important;
    background-size: 490px !important;
  }
  .t-c-c-3 {
    background-position: 0px 125px !important;
    background-size: 448px 296px;
  }
  .t-c-c-4 {
    background-position: -228px 125px !important;
    background-size: 480px !important;
  }
  .t-c-c-5 {
    background-position: -161px 107px !important;
    background-size: 449px !important;
  }
  .useful__swiper {
    width: 952px !important;
    height: fit-content !important;
  }
  .useful__wrapper {
    height: 456px !important;
  }
  .useful__slide {
    width: 296px !important;
    height: 456px !important;
    background-size: 100% 202px !important;
  }
  .useful__content {
    width: 296px;
    height: 254px !important;
  }
  .useful__text {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .we-glad__form {
    width: 405px !important;
  }
  .we-glad__img {
    width: 514px !important;
    height: 316px !important;
  }
  .tooltip {
    top: 97px !important;
    right: 322px !important;
  }
  .f-t-r-l-1 {
    margin-right: 56px !important;
  }
  .f-t-r-l-2 {
    margin-right: 75px !important;
  }
  .f-t-r-l-3 {
    margin-right: 90px !important;
  }
}
@media (max-width: 1023px) {
  .container {
    width: 624px !important;
  }
  .header__top__left {
    width: 624px;
  }
  .header__mid__nav {
    position: absolute;
    top: 108px;
    left: 0;
    padding: 34px 72px;
    transition: all 0.5s ease-in-out;
    background-color: #FFFFFF;
    height: 300px !important;
    width: 100vw !important;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  .burger-container {
    width: 624px;
    margin: 0 auto;
    background-image: url("../../img/elephant-grey.svg");
    background-position: 462px 94px;
  }
  .header__mid__list {
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    height: 230px;
  }
  .header__mid__item {
    margin-bottom: 36px !important;
    margin-right: 0px !important;
    width: fit-content;
  }
  .header__mid__close {
    display: block;
    margin-bottom: 30px;
  }
  .header__mid__link {
    padding: 0;
  }
  .header__mid .container {
    justify-content: flex-start !important;
    align-items: center !important;
  }
  .header__bottom__right {
    top: -60px;
  }
  .header__top__list {
    justify-content: space-between;
  }
  .header__top__item:not(:last-child) {
    margin-right: 0px !important;
  }
  .header__bottom__search,
.header__bottom__search__input {
    width: 435px !important;
  }
  .header__bottom__category,
.header__bottom__category__btn {
    width: 189px !important;
  }
  .header__bottom__category__dropdown {
    width: 189px !important;
  }
  .header__bottom__category__list {
    column-count: 1 !important;
  }
  .header__mid__burger {
    display: block !important;
    margin-right: 194px;
  }
  .hero__slide {
    max-width: 767px !important;
  }
  .hero__content {
    max-width: 622px !important;
  }
  .special__swiper {
    width: 624px !important;
  }
  .high-raiting__block {
    grid-template-columns: repeat(2, 1fr) !important;
    margin-bottom: 31px !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-areas: "top-left top-left" "bottom-left top-right" "bottom-mid  bottom-right" !important;
  }
  .oxford__container {
    width: 696px !important;
  }
  .useful__swiper {
    width: 624px !important;
  }
  .we-glad {
    margin-bottom: 70px !important;
  }
  .we-glad__img {
    width: 187px !important;
    height: 444px !important;
  }
  .we-glad__form__input:last-child {
    margin-bottom: 31px;
  }
  .footer__top {
    padding: 25px 0 !important;
  }
  .footer__top .container {
    flex-direction: column !important;
  }
  .footer__top__right {
    margin-left: -10px !important;
  }
  .footer__top__left {
    flex-direction: row !important;
    margin-bottom: 22px;
  }
  .f-t-r-l-1 {
    margin-right: 20px !important;
  }
  .f-t-r-l-2 {
    margin-right: 37px !important;
  }
  .f-t-r-l-3 {
    margin-right: 53px !important;
  }
  .f-t-r-l-4 {
    margin-right: 72px !important;
  }
}
@media (max-width: 767px) {
  .container {
    width: 296px !important;
  }
  .header__top {
    margin-top: 0;
  }
  .header__top__left {
    flex-direction: column;
    top: 67px;
    width: 296px;
  }
  .header__top__region {
    margin-bottom: 14px;
  }
  .header__top__list {
    width: 296px !important;
    margin: 0 !important;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .header__top__item {
    width: fit-content !important;
    margin-right: 60px !important;
    margin-bottom: 12px !important;
  }
  .header__top__item:nth-child(1) {
    margin-right: 61px !important;
  }
  .header__top__item:nth-child(3) {
    width: 114px !important;
    margin-right: 63px !important;
  }
  .header__top__item:last-child {
    width: 118px !important;
    margin-right: 0 !important;
  }
  .header__top__link {
    padding: 0 !important;
    width: 100% !important;
    line-height: 0.9rem;
  }
  .header__top__nav {
    opacity: 0;
    visibility: hidden;
  }
  .header__top__region__dropdown {
    left: 0;
    width: 150px;
    z-index: 10;
  }
  .header__mid {
    height: 159px;
    padding: 0 !important;
  }
  .header__mid__logo {
    position: absolute;
    top: 12px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .header__mid__burger {
    position: absolute;
    top: 156px;
    transform: translateX(4px);
  }
  .header__mid__nav {
    top: 144px;
    padding: 12px !important;
    min-height: 533px !important;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 425px, #F7F7F7 425px);
  }
  .burger-container {
    width: 296px;
  }
  .header__mid__close {
    margin-left: 4px;
    margin-bottom: 23px !important;
  }
  .header__mid__list {
    display: flex;
    width: fit-content;
    height: fit-content;
  }
  .header__mid__item {
    margin-bottom: 39px !important;
  }
  .header__mid__item,
.header__mid__link {
    height: 24px;
  }
  .header__bottom__left {
    flex-direction: column !important;
  }
  .header__bottom__right {
    top: -56px;
  }
  .header__bottom__search,
.header__bottom__search__input,
.header__bottom__category,
.header__bottom__category__btn {
    width: 296px !important;
    border-radius: 10px !important;
  }
  .header__bottom__search {
    margin-bottom: 16px;
  }
  .header__bottom__category__dropdown {
    width: 296px !important;
  }
  .header__bottom__category__list {
    column-count: 2 !important;
  }
  .hero__swiper {
    margin-bottom: 32px !important;
  }
  .hero__swiper,
.hero__slide {
    width: 320px !important;
    height: 210px !important;
  }
  .hero__content {
    padding: 30px 18px !important;
  }
  .content__title {
    font-size: 20px !important;
    line-height: 27px !important;
  }
  .content__btn {
    display: none;
  }
  .swiper-pagination {
    bottom: 16px !important;
  }
  .swiper-pagination-bullets {
    height: 6px;
    bottom: 19px !important;
  }
  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    margin-right: 5px !important;
  }
  .hero__bottom__btn {
    display: block !important;
    margin: 0 auto;
    width: 296px !important;
  }
  .title {
    width: 296px;
    font-size: 24px !important;
  }
  .special__slide {
    height: auto !important;
    min-height: 511px !important;
  }
  .special__swiper {
    width: 296px !important;
    min-height: 633px !important;
  }
  .special__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .high-raiting__block {
    gap: 16px !important;
  }
  .high-raiting__card {
    padding: 16px !important;
    width: 140px !important;
    height: 278px !important;
    background-size: 108px !important;
    min-height: 278px !important;
  }
  .high-raiting__card__info {
    padding-top: 75px !important;
  }
  .high-raiting .h-r-c-1 {
    background-position: center 52px;
  }
  .high-raiting .h-r-c-2 {
    background-position: center 48px;
  }
  .high-raiting .h-r-c-3 {
    background-position: center 48px;
  }
  .high-raiting .h-r-c-4 {
    background-position: center 43px;
  }
  .high-raiting .h-r-c-5 {
    background-position: center 46px;
  }
  .high-raiting .h-r-c-6 {
    background-position: center 47px;
  }
  .high-raiting .h-r-c-7 {
    background-position: center 58px;
  }
  .high-raiting .h-r-c-8 {
    background-position: center 64px;
  }
  .high-raiting__card__title {
    font-size: 16px !important;
    margin-bottom: 16px !important;
  }
  .high-raiting__card__price {
    margin-bottom: 16px !important;
  }
  .high-raiting__card__btn {
    width: 108px !important;
    height: 40px !important;
  }
  .high-raiting__card__img {
    width: 108px !important;
    bottom: 188px !important;
  }
  .high-raiting__card__raiting {
    font-size: 12px !important;
  }
  .oxford {
    height: 302px !important;
  }
  .oxford__img {
    height: 210px !important;
  }
  .oxford__container {
    padding: 30px 0 !important;
  }
  .oxford__title {
    font-size: 16px !important;
  }
  .oxford__title span {
    font-size: 24px !important;
  }
  .oxford__btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 296px !important;
  }
  .top-categories {
    margin-bottom: 76px !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 16px !important;
    grid-row-gap: 32px !important;
    grid-template-areas: "top-left top-left" "bottom-left top-right" "bottom-mid bottom-right" !important;
  }
  .top-categories__card {
    position: relative;
    width: 140px !important;
    height: 206px !important;
    justify-content: flex-start !important;
    padding: 16px !important;
  }
  .top-categories__card:first-child {
    padding: 30px !important;
    width: 296px !important;
    height: 332px !important;
  }
  .top-categories__card:first-child .top-categories__card__list {
    flex-direction: row !important;
    margin-bottom: 14px !important;
  }
  .top-categories__card:first-child .top-categories__card__item {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .top-categories__card:first-child .top-categories__card__title {
    font-size: 24px !important;
  }
  .top-categories__card:first-child .top-categories__card__link svg {
    position: absolute;
    top: 66px;
    left: 128px;
  }
  .top-categories__card:not(first-child) .top-categories__card__title {
    font-size: 16px !important;
    line-height: 104% !important;
  }
  .top-categories__card:not(first-child) .top-categories__card__item {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .top-categories__card:not(first-child) .top-categories__card__item:last-child {
    margin-bottom: 0;
  }
  .top-categories__card:not(first-child) .top-categories__card__list {
    flex-direction: column !important;
    margin-bottom: 10px !important;
  }
  .top-categories__card:not(first-child) .top-categories__card__link svg {
    position: absolute;
    top: 48px;
    left: 86px;
  }
  .top-categories__card__item {
    margin-right: 20px !important;
  }
  .top-categories__card__link p {
    display: none;
  }
  .t-c-c-1 {
    background-position: -50px 104px !important;
    background-size: 354px !important;
  }
  .t-c-c-4 {
    background-position: 2px 103px !important;
    background-size: 142px !important;
  }
  .t-c-c-4 .top-categories__card__link svg {
    top: 65px !important;
    left: 95px !important;
  }
  .t-c-c-3 {
    background-position: 0px 86px !important;
    background-size: 157px;
  }
  .t-c-c-2 {
    background-position: -18px 85px !important;
    background-size: 175px !important;
  }
  .t-c-c-2 .top-categories__card__link svg {
    top: 49px !important;
    left: 76px !important;
  }
  .t-c-c-5 {
    background-position: -7px 77px !important;
    background-size: 157px !important;
  }
  .t-c-c-5 .top-categories__card__link svg {
    top: 48px !important;
    left: 75px !important;
  }
  .useful__swiper {
    width: 296px !important;
    height: 557px !important;
  }
  .useful__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .tooltip {
    top: 108px !important;
    left: 138px !important;
  }
  .we-glad {
    margin-bottom: 66px !important;
  }
  .we-glad__form__text {
    margin-bottom: 14px !important;
  }
  .we-glad__form__field p {
    font-size: 12px;
  }
  .we-glad__img {
    display: none;
  }
  .footer__top {
    padding-bottom: 3px !important;
  }
  .footer__top__left__logo {
    margin-bottom: 24px !important;
  }
  .footer__top__left {
    flex-direction: column !important;
    align-items: center;
  }
  .footer__top__right {
    flex-wrap: wrap;
    height: 221px !important;
  }
  .f-t-r-l-1 {
    margin-right: 53px !important;
  }
  .f-t-r-l-2 {
    margin-right: 0px !important;
  }
  .f-t-r-l-3 {
    margin-right: 27px !important;
  }
  .f-t-r-l-4 {
    margin-right: 0px !important;
  }
}
@media (min-width: 1920px) {
  .filter__dropdown__hidden {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 1919px) {
  .container {
    width: 952px !important;
  }
  .catalog__container {
    flex-direction: column !important;
  }
  .catalog__filter {
    position: absolute;
    top: 370px;
    justify-content: center;
    width: 952px !important;
    height: 40px !important;
    padding: 6px 0 !important;
  }
  .catalog__filter__top {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    height: 40px !important;
  }
  .catalog__filter__title {
    display: none;
  }
  .catalog__filter__title__mobile {
    display: block !important;
    padding-top: 11px;
  }
  .catalog__filter__list {
    flex-direction: row !important;
  }
  .catalog__filter__list .price__fields {
    flex-direction: column;
  }
  .catalog__filter__list .price__field:first-child {
    margin-bottom: 20px;
  }
  .catalog__filter__item {
    position: relative;
    width: 187px;
    height: 40px;
    margin-right: 32px;
  }
  .catalog__filter__item__btn {
    display: flex !important;
    z-index: 3 !important;
  }
  .catalog__filter__item__dropdown {
    position: absolute !important;
    top: 25px;
    padding: 20px 10px 10px 10px;
    border: 2px solid #f7f7ff;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 2 !important;
    width: 100%;
  }
  .catalog__filter__item:last-child {
    margin-right: 0;
  }
  .catalog__filter__item__title {
    display: none;
  }
  .catalog__filter__oxford {
    display: none;
  }
  .catalog #range-slider {
    display: none;
  }
  .catalog__products__title {
    margin-bottom: 88px !important;
  }
  .catalog__products__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  .catalog__products__filter__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 844px;
  }
  .filter__dropdown__hidden {
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 1023px) {
  .container {
    width: 624px !important;
  }
  .catalog__filter {
    width: 624px !important;
  }
  .catalog__filter__title__mobile {
    margin-bottom: 16px;
  }
  .catalog__filter__top, .catalog__filter__list {
    width: 624px;
    flex-wrap: wrap;
  }
  .catalog__filter__item {
    margin-bottom: 16px !important;
  }
  .catalog__filter__item:nth-child(1), .catalog__filter__item:nth-child(2) {
    z-index: 100 !important;
  }
  .catalog__filter__item:nth-child(3), .catalog__filter__item:nth-child(4) {
    z-index: 10 !important;
  }
  .catalog__products__title {
    margin-bottom: 191px !important;
  }
  .catalog__products__block {
    grid-template-columns: repeat(2, 1fr) !important;
    margin-bottom: 33px !important;
  }
  .catalog__products__pagination {
    display: flex;
    flex-wrap: nowrap;
  }
  .catalog__products__pagination__page:nth-child(2) {
    margin-right: 16px;
  }
  .catalog__products__pagination__page:nth-child(3) {
    display: block !important;
  }
  .c-7,
.c-8,
.c-9,
.c-10,
.c-11,
.c-12 {
    display: none;
  }
}
@media (max-width: 767px) {
  .container {
    width: 296px !important;
  }
  .header {
    margin-bottom: 32px !important;
  }
  .breadcrump {
    display: none;
  }
  .catalog__products__title {
    margin-bottom: 177px !important;
  }
  .catalog__filter {
    top: 407px;
  }
  .catalog__filter, .catalog__filter__top, .catalog__filter__list {
    width: 296px !important;
  }
  .catalog__filter__list {
    justify-content: space-between;
  }
  .catalog__filter__item, .catalog__filter__item__btn {
    width: 140px !important;
  }
  .catalog__filter__item {
    margin-right: 0;
  }
  .catalog__filter__checkbox__item {
    font-size: 14px;
  }
  .catalog__products__block {
    width: 296px !important;
    grid-gap: 16px !important;
  }
}
.container {
  width: 1280px;
}

.header {
  margin-bottom: 23px;
}
.header__bottom__category {
  z-index: 120;
}

.catalog {
  margin-bottom: 70px;
}
.catalog__filter {
  flex-direction: column;
  justify-content: space-between;
  width: 296px;
  margin-right: 32px;
  padding-bottom: 65px;
  z-index: 100;
}
.catalog__filter__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 19px;
  color: #333333;
}
.catalog__filter__title__mobile {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
}
.catalog__filter__list {
  flex-direction: column;
}
.catalog__filter__item {
  z-index: 100;
}
.catalog__filter__item__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #666666;
  margin-bottom: 11px;
}
.catalog__filter__item__btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 15px;
  width: 187px;
  height: 40px;
  background: #F7F7F7;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.catalog__filter__item__dropdown {
  position: static;
}
.catalog__filter__item__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.catalog__filter__checkbox {
  opacity: 0;
}
.catalog__filter__checkbox__item {
  margin-bottom: 12px;
  transform: translateX(-11px);
}
.catalog__filter__checkbox__item p {
  line-height: 20px;
}
.catalog__filter__checkbox__item:last-child {
  margin-bottom: 0;
}
.catalog__filter__checkbox + .check {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-right: 11px;
  transform: translateY(2px);
  overflow: hidden;
  transition: all 0.3s ease;
}
.catalog__filter__checkbox + .check:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  right: 0;
  bottom: 0;
}
.catalog__filter__checkbox:checked + .check {
  background-color: #A65CF0;
  border: 1px solid #A65CF0;
}
.catalog__filter__checkbox:checked + .check:before {
  background-color: #A65CF0;
  background-image: url("../../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.catalog__filter__oxford {
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  height: 360px;
  background-image: url("../../img/oxford-filter.jpg");
  background-size: contain;
  background-color: #333333;
  border-radius: 10px;
}
.catalog__filter__oxford__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  margin-bottom: 12px;
}
.catalog__filter__oxford__title span {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #D5B986;
  font-family: "PlayfairDisplay";
}
.catalog__filter__oxford__link p {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #A65CF0;
  margin-right: 5px;
  transition: text-decoration 0.3s ease;
}
.catalog__filter__oxford__link svg circle {
  transition: fill 0.3s ease;
}
.catalog__filter__oxford__link:hover p {
  text-decoration: underline;
}
.catalog__filter__oxford__link:hover svg circle {
  fill: #A65CF0;
}
.catalog__filter__oxford__link:hover svg path {
  stroke: #FFFFFF;
}
.catalog__filter__oxford__link:focus {
  text-decoration: underline;
}
.catalog__filter__oxford__link:focus svg circle {
  fill: #C998FB;
  stroke: #A65CF0;
}
.catalog__filter__oxford__link:focus svg path {
  stroke: #FFFFFF;
}
.catalog__filter__oxford__link:active {
  color: #7033AC;
}
.catalog__filter__oxford__link:active svg circle {
  fill: #7033AC;
  stroke: #7033AC;
}
.catalog__filter .category {
  margin-bottom: 28px;
}
.catalog__filter .price {
  margin-bottom: 37px;
}
.catalog__filter .price__title {
  margin-bottom: 4px;
}
.catalog__filter .price__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #666666;
  margin-right: 10px;
}
.catalog__filter .price__fields {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.catalog__filter .price__input {
  padding: 4px 13px;
  border: 1px solid #999999;
  border-radius: 2px;
  width: 86px;
  height: 30px;
  transition: all 0.3s ease;
  color: #666666;
}
.catalog__filter .price__input:hover {
  border: 1px solid #A65CF0;
}
.catalog__filter .price__input:focus {
  border: 1px solid #A65CF0;
  background-color: #EBD1FF;
}
.catalog__filter .price__input:active {
  border: 1px solid #7033AC;
  background-color: transparent;
}
.catalog__filter .price__input::-webkit-outer-spin-button, .catalog__filter .price__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.catalog__filter .price #range-slider {
  width: 100%;
  height: 3px;
}
.catalog__filter .price .noUi-target {
  border: none;
}
.catalog__filter .price .noUi-connects {
  height: 3px;
  border: none;
  background-color: #EAEAEA;
}
.catalog__filter .price .noUi-connect {
  height: 3px;
  background-color: #A65CF0;
  transition: background-color 0.3s ease;
}
.catalog__filter .price .noUi-horizontal .noUi-handle {
  top: 0px;
  right: -6px;
}
.catalog__filter .price .noUi-handle {
  box-shadow: none;
  width: 13px !important;
  height: 13px !important;
  border: none;
  background-image: url("../../img/range-slider.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.catalog__filter .price .noUi-handle:hover {
  background-image: url("../../img/range-slider-light.svg");
}
.catalog__filter .price #range-slider:focus .noUi-handle-lower,
.catalog__filter .price .noUi-handle:active {
  background-image: url("../../img/range-slider-shade.svg");
}
.catalog__filter .price #range-slider:focus .noUi-connect,
.catalog__filter .price #range-slider:active .noUi-connect {
  background-color: #7033AC;
}
.catalog__filter .price .noUi-touch-area {
  display: none;
}
.catalog__filter .price .noUi-handle::before,
.catalog__filter .price .noUi-handle::after {
  display: none;
}
.catalog__filter .discount {
  margin-bottom: 26px;
}
.catalog__products {
  flex-direction: column;
}
.catalog__products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 24px;
}
.catalog__products__block {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}
.catalog__products__pagination {
  width: fit-content;
  align-self: center;
}
.catalog__products__pagination__page {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 2px solid #A65CF0;
  color: #A65CF0;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.catalog__products__pagination__page:nth-child(3) {
  display: none;
}
.catalog__products__pagination__page:hover {
  background: #A65CF0;
  border: 2px solid #A65CF0;
  color: #FFFFFF;
}
.catalog__products__pagination__page:focus {
  background: #C998FB;
  border: 2px solid #A65CF0;
  color: #FFFFFF;
}
.catalog__products__pagination__page:active {
  background: #7033AC;
  border: 2px solid #7033AC;
  color: #FFFFFF;
}
.catalog__products__pagination__page:first-child {
  margin-right: 16px;
}
.catalog__products__pagination__active {
  background: #7033AC;
  border: 2px solid #7033AC;
  color: #FFFFFF;
}

.hidden-card {
  display: none !important;
}

.active-card {
  display: flex !important;
}

.catalog__filter__checkbox:focus + .check {
  background-color: #C998FB;
}/*# sourceMappingURL=catalog.css.map */