* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

* {
  outline: none;
  text-decoration: none;
  background-repeat: no-repeat;
}

a {
  color: inherit;
}

body {
  font-family: "OpenSans";
  font-weight: 400;
  background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
}

.btn-primary {
  width: 187px;
  height: 60px;
  background-color: #A65CF0;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btn-primary:focus {
  background-color: #C998FB;
  border: 2px solid #7033AC;
}

.btn-primary:hover {
  background-color: #C998FB;
}

.btn-primary:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
}

.btn-primary:disabled {
  background-color: #EAEAEA;
  border: none;
  color: #999999;
}

.btn-secondary {
  width: 128px;
  height: 54px;
  border: 2px solid #A65CF0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #A65CF0;
  transition: all 0.3s ease;
}

.btn-secondary:focus {
  background-color: #C998FB;
  color: #FFFFFF;
}

.btn-secondary:hover {
  background-color: #A65CF0;
  color: #FFFFFF;
}

.btn-secondary:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
  color: #FFFFFF;
}

.arrow circle,
.arrow path {
  transition: all 0.3s ease;
}

.arrow:focus circle {
  stroke: #A65CF0;
  fill: #C998FB;
}

.arrow:focus path {
  stroke: #FFFFFF;
}

.arrow:hover circle {
  fill: #A65CF0;
}

.arrow:hover path {
  stroke: #FFFFFF;
}

.arrow:active circle {
  fill: #7033AC;
  stroke: #7033AC;
}

.arrow:active path {
  stroke: #FFFFFF;
}

.flex {
  display: flex;
}

.title {
  color: #333333;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 26px;
}

#agree {
  display: none;
}

#agree + .check {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-right: 8px;
  transform: translateY(2px);
  overflow: hidden;
}

#agree + .check:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  right: 0;
  bottom: 0;
}

#agree:checked + .check {
  background-color: #A65CF0;
  border: 1px solid #A65CF0;
}

#agree:checked + .check:before {
  background-color: #A65CF0;
  background-image: url("../../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.just-validate-success-field {
  border: 1px solid #B8EC64 !important;
}

.is-invalid {
  border: 1px solid #FF6972 !important;
}

.breadcrump {
  margin-bottom: 30px;
}
.breadcrump__item {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-right: 6px;
}
.breadcrump__item__active {
  color: #7033AC;
}
.breadcrump__item:not(:first-child)::before {
  content: "/";
  margin-right: 3px;
  color: #999999;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  height: 32px;
  width: 32px;
  margin: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
  --swiper-navigation-size: 0;
}

.swiper-button-disabled svg path,
.swiper-button-disabled svg circle {
  stroke: #999999;
}

.swiper-button-disabled {
  opacity: 1 !important;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
.header {
  margin-bottom: 32px;
}
.header__top {
  padding: 17px 0;
  background-color: #F7F7F7;
  height: 50px;
}
.header__top__container {
  justify-content: space-between;
}
.header__top__region {
  position: relative;
  margin-right: 30px;
}
.header__top__region__your {
  margin-right: 4px;
  color: #333333;
}
.header__top__region__choose {
  padding: 2px;
}
.header__top__region__choose p,
.header__top__region__choose svg svg path {
  transition: all 0.3s ease;
}
.header__top__region__choose:hover p {
  color: #C998FB;
}
.header__top__region__choose:hover svg path {
  fill: #C998FB;
}
.header__top__region__choose:focus {
  background-color: #C998FB;
}
.header__top__region__choose:active p, .header__top__region__choose:focus p {
  color: #7033AC;
}
.header__top__region__choose:active svg path, .header__top__region__choose:focus svg path {
  fill: #7033AC;
}
.header__top__region__option {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  margin-right: 4px;
  color: #A65CF0;
}
.header__top__region__btn {
  height: 100%;
}
.header__top__region__arrow {
  pointer-events: none;
  height: 100%;
  transition: transform 0.3s ease;
}
.header__top__region__dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  padding: 16px;
  border: 2px solid #F7F7F7;
  background-color: #FFFFFF;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.header__top__region__city {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 11px;
  cursor: pointer;
}
.header__top__region .region-dropdown-visibility {
  opacity: 1;
  pointer-events: auto;
}
.header__top__region .region-dropdown-rotate {
  transform: rotate(180deg);
}
.header__top__tel {
  align-items: center;
  color: #FF862F;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease;
}
.header__top__tel svg {
  margin-right: -1px;
}
.header__top__tel svg path {
  transition: all 0.3s ease;
}
.header__top__tel:hover {
  color: #FFBD59;
}
.header__top__tel:hover svg path {
  fill: #FFBD59;
}
.header__top__tel:focus {
  background-color: #FFF5D1;
}
.header__top__tel:active {
  color: #BB370E;
}
.header__top__tel:active svg path {
  fill: #BB370E;
}
.header__top__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #999999;
}
.header__top__item {
  margin-right: 44px;
}
.header__top__item:last-child {
  margin-right: -10px;
}
.header__top__link {
  padding: 0 10px;
  transition: all 0.3s ease;
}
.header__top__link:focus {
  background-color: #C998FB;
  color: #7033AC;
}
.header__top__link:hover {
  color: #A65CF0;
}
.header__top__link:active {
  color: #7033AC;
  background-color: transparent;
}
.header__mid {
  padding: 32px 0;
}
.header__mid__container {
  justify-content: space-between;
}
.header__mid__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333333;
  margin-right: 71px;
}
.header__mid__item:last-child {
  margin-right: -10px;
}
.header__mid__link {
  padding: 0 11px 0 10px;
  transition: all 0.3s ease;
}
.header__mid__link:focus {
  background-color: #C998FB;
  color: #7033AC;
}
.header__mid__link:hover {
  color: #A65CF0;
}
.header__mid__link:active {
  color: #7033AC;
  background-color: transparent;
}
.header__mid__burger {
  display: none;
  height: 24px;
}
.header__mid__close {
  display: none;
  height: 24px;
}
.header__bottom__container {
  justify-content: space-between;
  align-items: center;
}
.header__bottom__search {
  position: relative;
  width: 761px;
}
.header__bottom__search__input {
  padding: 20px 100px 20px 59px;
  background-color: #F7F7F7;
  border: 2px solid #F7F7F7;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 60px;
  transition: all 0.3s ease;
}
.header__bottom__search__input:hover {
  background-color: #EAEAEA;
}
.header__bottom__search__input:focus {
  background-color: #F8EFFF;
  border: 2px solid #A65CF0;
}
.header__bottom__search__input:active {
  background-color: #F7F7F7;
  border: 2px solid #F7F7F7;
}
.header__bottom__search__input:active + svg path {
  fill: #A65CF0;
}
.header__bottom__search__icon {
  position: absolute;
  top: 20px;
  left: 32px;
}
.header__bottom__search__btn {
  position: absolute;
  top: 14px;
  right: 32px;
}
.header__bottom__category {
  position: relative;
  width: 300px;
  height: 60px;
  z-index: 10;
}
.header__bottom__category__btn {
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border: 2px solid #F7F7F7;
  border-radius: 0px 10px 10px 0px;
  width: 300px;
  height: 60px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.3s ease;
}
.header__bottom__category__btn:hover {
  border: 2px solid #A65CF0;
}
.header__bottom__category__btn:focus {
  border: 2px solid #A65CF0;
  background-color: #F8EFFF;
}
.header__bottom__category__btn:active {
  border: 2px solid #7033AC;
  background-color: transparent;
}
.header__bottom__category__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #A65CF0;
  pointer-events: none;
}
.header__bottom__category__dropdown {
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 22px 30px;
  width: 300px;
  border: 2px solid #F7F7F7;
  background-color: #FFFFFF;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border-radius: 0px 0px 10px 10px;
}
.header__bottom__category__arrow {
  pointer-events: none;
  transition: all 0.3s ease;
}
.header__bottom__category .category-dropdown-visibility {
  opacity: 1;
  pointer-events: auto;
}
.header__bottom__category .category-dropdown-rotate {
  transform: rotate(180deg);
}
.header__bottom__category__list {
  column-count: 2;
  column-gap: 20px;
}
.header__bottom__category__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 11px;
  cursor: pointer;
}
.header__bottom__right {
  align-items: center;
  height: 28px;
}
.header__bottom__right__icon {
  position: relative;
  display: block;
}
.header__bottom__right__icon svg {
  position: absolute;
}
.header__bottom__right .user {
  width: 26px;
  height: 28px;
}
.header__bottom__right .cart {
  width: 41px;
  height: 28px;
}
.header__bottom__right__icon:first-child {
  margin-right: 32px;
}
.header__bottom__right__icon::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: #C998FB;
  opacity: 0;
  z-index: 1;
}
.header__bottom__right__icon:focus svg {
  fill: #FFFFFF;
  z-index: 10;
}
.header__bottom__right__icon:focus svg path:first-child {
  fill: #FFFFFF;
}
.header__bottom__right__icon:focus::before {
  opacity: 1;
}
.header__bottom__right__icon:hover svg path:first-child {
  fill: #C998FB;
}
.header__bottom__right__icon:active svg path:first-child {
  fill: #7033AC;
}
.header__bottom__right__icon:active::before {
  opacity: 0;
}

.burger-open {
  opacity: 1 !important;
  visibility: visible !important;
}

.header__top__nav-active {
  position: absolute !important;
  top: 593px;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 10000 !important;
}

.footer__top {
  padding: 23px 0 24px 0;
  background-color: #EAEAEA;
}
.footer__top__container {
  justify-content: space-between;
}
.footer__top__left {
  flex-direction: column;
  justify-content: space-between;
}
.footer__top__left__social {
  height: 30px;
}
.footer__top__left__social a:not(:last-child) {
  margin-right: 20px;
}
.footer__top__right {
  margin-right: -10px;
}
.footer__top__right__list:not(:last-child) {
  margin-right: 0px;
}
.footer__top__right__item {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.footer__top__right__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__top__right .main {
  padding: 0 10px;
  color: #333333;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
}
.footer__top__right__link {
  padding: 0 10px;
  transition: all 0.3s ease;
}
.footer__top__right__link:focus {
  background-color: #C998FB;
  color: #7033AC;
}
.footer__top__right__link:hover {
  color: #A65CF0;
}
.footer__top__right__link:active {
  color: #7033AC;
  background-color: transparent;
}
.footer .f-t-r-l-1 {
  margin-right: 94px;
}
.footer .f-t-r-l-2 {
  margin-right: 112px;
}
.footer .f-t-r-l-3 {
  margin-right: 126px;
}
.footer__bottom {
  padding: 5px 0;
  height: 30px;
}
.footer__bottom__copyr {
  color: #999999;
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.footer .soc-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}
.footer .soc-icon svg path {
  transition: all 0.3s ease;
}
.footer .soc-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: #C998FB;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease;
}
.footer .soc-icon svg {
  position: absolute;
  z-index: 10;
}
.footer .soc-icon:focus::before {
  opacity: 1;
}
.footer .soc-icon:focus svg path {
  fill: #FFFFFF;
}
.footer .soc-icon:hover path {
  fill: #A65CF0;
}
.footer .soc-icon:active svg path {
  fill: #7033AC;
}
.footer .soc-icon:active::before {
  opacity: 0;
}

@media (max-width: 1919px) {
  .container {
    width: 952px !important;
  }
  .header__top {
    margin-top: 58px;
  }
  .header__top__container {
    flex-direction: column;
  }
  .header__top__left {
    position: absolute;
    top: 17px;
    width: 952px;
    justify-content: space-between;
  }
  .header__top__region {
    padding-top: 3px;
  }
  .header__top__list {
    margin-left: -10px;
  }
  .header__bottom__container {
    position: relative;
  }
  .header__bottom__right {
    position: absolute;
    top: -132px;
    right: 0;
  }
  .logo {
    height: 27px;
  }
  .header__mid__item:not(:last-child) {
    margin-right: 21px !important;
  }
  .header__bottom__search,
.header__bottom__search__input {
    width: 652px;
  }
  .hero__content {
    max-width: 952px !important;
  }
  .special__swiper,
.special__swiper-wrapper {
    width: 952px !important;
  }
  .special__slide,
.special__slide__main {
    width: 296px !important;
  }
  .special__slide__scheme {
    display: none;
  }
  .special__slide__title {
    margin-bottom: 19px !important;
  }
  .s-s-2,
.s-s-5 {
    padding-top: 112px !important;
  }
  .s-s-img-2,
.s-s-img-5 {
    width: 254px !important;
    height: 138px !important;
    margin-bottom: 48px !important;
    margin-left: -10px !important;
  }
  .high-raiting__card:nth-child(7),
.high-raiting__card:nth-child(8) {
    display: none;
  }
  .high-raiting__block {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-areas: "top-left top-left bottom-left" "bottom-mid top-right bottom-right" !important;
  }
  .top-categories__card {
    width: 296px !important;
    height: 511px !important;
  }
  .t-c-c-1 {
    width: 624px !important;
  }
  .t-c-c-2 {
    background-position: -230px 130px !important;
    background-size: 490px !important;
  }
  .t-c-c-3 {
    background-position: 0px 125px !important;
    background-size: 448px 296px;
  }
  .t-c-c-4 {
    background-position: -228px 125px !important;
    background-size: 480px !important;
  }
  .t-c-c-5 {
    background-position: -161px 107px !important;
    background-size: 449px !important;
  }
  .oxford {
    background-image: url("../../img/oxford-1024.jpg");
  }
  .useful__swiper {
    width: 952px !important;
    height: fit-content !important;
  }
  .useful__wrapper {
    min-height: 456px !important;
  }
  .useful__slide {
    width: 296px !important;
    min-height: 456px !important;
    background-size: 100% 202px !important;
  }
  .useful__content {
    width: 296px;
    padding-top: 232px !important;
  }
  .useful__text {
    font-size: 16px !important;
    line-height: 22px !important;
    margin-bottom: 30px !important;
  }
  .we-glad {
    margin-bottom: 70px !important;
  }
  .we-glad__form {
    width: 405px !important;
  }
  .we-glad__form__text {
    margin-bottom: 14px !important;
  }
  .we-glad__img {
    width: 514px !important;
    height: 316px !important;
  }
  .tooltip {
    top: 97px !important;
    right: 322px !important;
  }
  .f-t-r-l-1 {
    margin-right: 56px !important;
  }
  .f-t-r-l-2 {
    margin-right: 75px !important;
  }
  .f-t-r-l-3 {
    margin-right: 90px !important;
  }
}
@media (max-width: 1023px) {
  .container {
    width: 624px !important;
  }
  .header__top__left {
    width: 624px;
  }
  .header__mid__nav {
    position: absolute;
    top: 108px;
    left: 0;
    padding: 34px 72px;
    transition: all 0.5s ease-in-out;
    background-color: #FFFFFF;
    height: 300px !important;
    width: 100vw !important;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  .burger-container {
    width: 624px;
    margin: 0 auto;
    background-image: url("../../img/elephant-grey.svg");
    background-position: 462px 94px;
  }
  .header__mid__list {
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    height: 230px;
  }
  .header__mid__item {
    margin-bottom: 36px !important;
    margin-right: 0px !important;
    width: fit-content;
  }
  .header__mid__close {
    display: block;
    margin-bottom: 30px;
  }
  .header__mid__link {
    padding: 0;
  }
  .header__mid .container {
    justify-content: flex-start !important;
    align-items: center !important;
  }
  .header__bottom__right {
    top: -60px;
  }
  .header__top__list {
    justify-content: space-between;
  }
  .header__top__item:not(:last-child) {
    margin-right: 0px !important;
  }
  .header__bottom__search,
.header__bottom__search__input {
    width: 435px !important;
  }
  .header__bottom__category,
.header__bottom__category__btn {
    width: 189px !important;
  }
  .header__bottom__category__dropdown {
    width: 189px !important;
  }
  .header__bottom__category__list {
    column-count: 1 !important;
  }
  .header__mid__burger {
    display: block !important;
    margin-right: 194px;
  }
  .hero__swiper {
    width: 100vw !important;
  }
  .hero__content {
    max-width: 622px !important;
  }
  .special__swiper {
    width: 624px !important;
  }
  .high-raiting__block {
    grid-template-columns: repeat(2, 1fr) !important;
    margin-bottom: 31px !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-areas: "top-left top-left" "bottom-left top-right" "bottom-mid  bottom-right" !important;
  }
  .oxford {
    width: 100vw;
    background-image: url("../../img/oxford-768.jpg");
  }
  .oxford__container {
    width: 696px !important;
  }
  .useful__swiper {
    width: 624px !important;
  }
  .we-glad {
    margin-bottom: 70px !important;
  }
  .we-glad__img {
    width: 187px !important;
    height: 444px !important;
  }
  .we-glad__form__input {
    margin-bottom: 30px;
  }
  .footer__top {
    padding: 25px 0 !important;
  }
  .footer__top .container {
    flex-direction: column !important;
  }
  .footer__top__right {
    margin-left: -10px !important;
  }
  .footer__top__left {
    flex-direction: row !important;
    margin-bottom: 22px;
  }
  .f-t-r-l-1 {
    margin-right: 20px !important;
  }
  .f-t-r-l-2 {
    margin-right: 37px !important;
  }
  .f-t-r-l-3 {
    margin-right: 53px !important;
  }
  .f-t-r-l-4 {
    margin-right: 72px !important;
  }
}
@media (max-width: 767px) {
  .container {
    width: 296px !important;
  }
  .header__top {
    margin-top: 0;
  }
  .header__top__left {
    flex-direction: column;
    top: 67px;
    width: 296px;
  }
  .header__top__region {
    margin-bottom: 14px;
  }
  .header__top__list {
    width: 296px !important;
    margin: 0 !important;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .header__top__item {
    width: fit-content !important;
    margin-right: 60px !important;
    margin-bottom: 12px !important;
  }
  .header__top__item:nth-child(1) {
    margin-right: 61px !important;
  }
  .header__top__item:nth-child(3) {
    width: 114px !important;
    margin-right: 63px !important;
  }
  .header__top__item:last-child {
    width: 118px !important;
    margin-right: 0 !important;
  }
  .header__top__link {
    padding: 0 !important;
    width: 100% !important;
    line-height: 0.9rem;
  }
  .header__top__nav {
    opacity: 0;
    visibility: hidden;
  }
  .header__top__region__dropdown {
    left: 0;
    width: 150px;
    z-index: 10;
  }
  .header__mid {
    height: 159px;
    padding: 0 !important;
  }
  .header__mid__logo {
    position: absolute;
    top: 12px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .header__mid__burger {
    position: absolute;
    top: 156px;
    transform: translateX(4px);
  }
  .header__mid__nav {
    top: 144px;
    padding: 12px !important;
    min-height: 533px !important;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 425px, #F7F7F7 425px);
  }
  .burger-container {
    width: 296px;
  }
  .header__mid__close {
    margin-left: 4px;
    margin-bottom: 23px !important;
  }
  .header__mid__list {
    display: flex;
    width: fit-content;
    height: fit-content;
  }
  .header__mid__item {
    margin-bottom: 39px !important;
  }
  .header__mid__item,
.header__mid__link {
    height: 24px;
  }
  .header__bottom__left {
    flex-direction: column !important;
  }
  .header__bottom__right {
    top: -56px;
  }
  .header__bottom__search,
.header__bottom__search__input,
.header__bottom__category,
.header__bottom__category__btn {
    width: 296px !important;
    border-radius: 10px !important;
  }
  .header__bottom__search {
    margin-bottom: 16px;
  }
  .header__bottom__category__dropdown {
    width: 296px !important;
  }
  .header__bottom__category__list {
    column-count: 2 !important;
  }
  .hero__swiper {
    margin-bottom: 32px !important;
  }
  .hero__swiper,
.hero__slide {
    height: 210px !important;
  }
  .hero__slide__img {
    object-position: center;
    height: 210px !important;
  }
  .hero__content {
    padding: 30px 18px !important;
  }
  .content__title {
    font-size: 20px !important;
    line-height: 27px !important;
  }
  .content__btn {
    display: none;
  }
  .swiper-pagination {
    bottom: 11px !important;
    width: 34px !important;
    height: 6px;
  }
  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    margin-right: 5px !important;
  }
  .hero__bottom__btn {
    display: block !important;
    margin: 0 auto;
    width: 296px !important;
  }
  .title {
    width: 296px;
    font-size: 24px !important;
  }
  .special__slide {
    height: auto !important;
    min-height: 511px !important;
  }
  .special__swiper {
    width: 296px !important;
    min-height: 633px !important;
    padding-bottom: 48px;
  }
  .special__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .high-raiting__block {
    gap: 16px !important;
  }
  .high-raiting__card {
    padding: 16px !important;
    width: 140px !important;
    background-size: 108px !important;
    min-height: 278px !important;
  }
  .high-raiting__card__info {
    padding-top: 75px !important;
  }
  .high-raiting .h-r-c-1 {
    background-position: center 52px;
  }
  .high-raiting .h-r-c-2 {
    background-position: center 48px;
  }
  .high-raiting .h-r-c-3 {
    background-position: center 48px;
  }
  .high-raiting .h-r-c-4 {
    background-position: center 43px;
  }
  .high-raiting .h-r-c-5 {
    background-position: center 46px;
  }
  .high-raiting .h-r-c-6 {
    background-position: center 47px;
  }
  .high-raiting .h-r-c-7 {
    background-position: center 58px;
  }
  .high-raiting .h-r-c-8 {
    background-position: center 64px;
  }
  .high-raiting__card__title {
    font-size: 16px !important;
    margin-bottom: 16px !important;
  }
  .high-raiting__card__price {
    margin-bottom: 16px !important;
  }
  .high-raiting__card__btn {
    width: 108px !important;
    height: 40px !important;
  }
  .high-raiting__card__img {
    width: 108px !important;
    bottom: 188px !important;
  }
  .high-raiting__card__raiting {
    font-size: 12px !important;
  }
  .oxford {
    background-image: url("../../img/oxford-320.jpg");
    background-size: 100% 210px;
    height: 302px !important;
    margin-bottom: 70px;
  }
  .oxford__container {
    padding: 30px 0 !important;
  }
  .oxford__title {
    font-size: 16px !important;
  }
  .oxford__title span {
    font-size: 24px !important;
  }
  .oxford__btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 296px !important;
  }
  .top-categories {
    margin-bottom: 79px !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 16px !important;
    grid-row-gap: 32px !important;
    grid-template-areas: "top-left top-left" "bottom-left top-right" "bottom-mid bottom-right" !important;
  }
  .top-categories__card {
    position: relative;
    width: 140px !important;
    height: 206px !important;
    justify-content: flex-start !important;
    padding: 16px !important;
  }
  .top-categories__card:first-child {
    padding: 30px !important;
    width: 296px !important;
    height: 332px !important;
  }
  .top-categories__card:first-child .top-categories__card__list {
    flex-direction: row !important;
    margin-bottom: 14px !important;
  }
  .top-categories__card:first-child .top-categories__card__item {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .top-categories__card:first-child .top-categories__card__title {
    font-size: 24px !important;
  }
  .top-categories__card:first-child .top-categories__card__link svg {
    position: absolute;
    top: 66px;
    left: 128px;
  }
  .top-categories__card:not(first-child) .top-categories__card__title {
    font-size: 16px !important;
    line-height: 104% !important;
  }
  .top-categories__card:not(first-child) .top-categories__card__item {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .top-categories__card:not(first-child) .top-categories__card__item:last-child {
    margin-bottom: 0;
  }
  .top-categories__card:not(first-child) .top-categories__card__list {
    flex-direction: column !important;
    margin-bottom: 10px !important;
  }
  .top-categories__card:not(first-child) .top-categories__card__link svg {
    position: absolute;
    top: 48px;
    left: 86px;
  }
  .top-categories__card__item {
    margin-right: 20px !important;
  }
  .top-categories__card__link p {
    display: none;
  }
  .t-c-c-1 {
    background-position: -50px 104px !important;
    background-size: 354px !important;
  }
  .t-c-c-4 {
    background-position: 2px 103px !important;
    background-size: 142px !important;
  }
  .t-c-c-4 .top-categories__card__link svg {
    top: 65px !important;
    left: 95px !important;
  }
  .t-c-c-3 {
    background-position: 0px 86px !important;
    background-size: 157px;
  }
  .t-c-c-2 {
    background-position: -18px 85px !important;
    background-size: 175px !important;
  }
  .t-c-c-2 .top-categories__card__link svg {
    top: 49px !important;
    left: 76px !important;
  }
  .t-c-c-5 {
    background-position: -7px 77px !important;
    background-size: 157px !important;
  }
  .t-c-c-5 .top-categories__card__link svg {
    top: 48px !important;
    left: 75px !important;
  }
  .useful {
    margin-bottom: 70px !important;
  }
  .useful__swiper {
    width: 296px !important;
    padding-bottom: 48px;
  }
  .useful__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .tooltip {
    top: 108px !important;
    left: 138px !important;
  }
  .we-glad {
    margin-bottom: 66px !important;
  }
  .we-glad__form__text {
    margin-bottom: 14px !important;
    line-height: 19px !important;
  }
  .we-glad__form__field p {
    font-size: 12px;
  }
  .we-glad__img {
    display: none;
  }
  .footer__top {
    padding-bottom: 3px !important;
  }
  .footer__top__left__logo {
    margin-bottom: 24px !important;
  }
  .footer__top__left {
    flex-direction: column !important;
    align-items: center;
  }
  .footer__top__right {
    flex-wrap: wrap;
    height: 221px !important;
  }
  .f-t-r-l-1 {
    margin-right: 53px !important;
  }
  .f-t-r-l-2 {
    margin-right: 0px !important;
  }
  .f-t-r-l-3 {
    margin-right: 27px !important;
  }
  .f-t-r-l-4 {
    margin-right: 0px !important;
  }
}
@media (max-width: 1919px) {
  .container {
    width: 952px !important;
  }
}
@media (max-width: 1023px) {
  .partnership {
    margin-bottom: 63px !important;
  }
  .container {
    width: 624px !important;
  }
  p {
    max-width: 624px;
  }
  .subtitle {
    margin-bottom: 15px !important;
  }
  .you-get .subtitle {
    margin-bottom: 13px !important;
  }
  .suppliers {
    height: 220px;
  }
  .suppliers__text {
    height: 174px !important;
  }
  .benefit .subtitle {
    margin-bottom: 12px !important;
  }
  .benefit__text {
    width: 620px !important;
  }
  .guarantee {
    margin-bottom: 0 !important;
  }
  .guarantee__item {
    width: 620px !important;
  }
}
@media (max-width: 767px) {
  .container {
    width: 296px !important;
  }
  .header {
    margin-bottom: 31px !important;
  }
  .breadcrump {
    display: none !important;
  }
  .title {
    margin-bottom: 28px !important;
  }
  .subtitle {
    font-size: 16px !important;
    margin-bottom: 7px !important;
  }
  .partnership__text {
    font-size: 14px !important;
    max-width: 300px !important;
  }
  .partnership__item {
    margin-bottom: 25px !important;
  }
  .suppliers {
    height: auto;
  }
  .suppliers__text {
    height: 300px !important;
  }
  .you-get .subtitle {
    margin-bottom: 8px !important;
  }
  .you-get__text {
    width: 271px !important;
  }
  .y-g-2 {
    width: 290px !important;
  }
  .y-g-3 {
    width: 290px !important;
  }
  .benefit .partnership__subtitle {
    font-size: 14px !important;
    margin-bottom: 5px !important;
  }
  .benefit__text {
    width: 280px !important;
  }
  .benefit__item {
    margin-bottom: 10px !important;
  }
  .guarantee .partnership__subtitle {
    margin-bottom: 4px !important;
  }
  .guarantee__item {
    margin-bottom: 11px !important;
    width: auto !important;
  }
  .guarantee__item:nth-child(2) {
    width: 275px !important;
  }
  .guarantee__list {
    margin-bottom: 20px !important;
  }
  .guarantee__pencil__img {
    width: 36px !important;
    height: 54px !important;
    margin-right: 16px !important;
  }
  .guarantee__pencil__title {
    font-size: 16px !important;
    line-height: 150% !important;
    width: 184px !important;
    padding-top: 7px;
  }
}
.container {
  width: 1280px;
}

.header {
  margin-bottom: 23px;
}

.breadcrump {
  margin-bottom: 32px;
}
.breadcrump__item {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-right: 7px;
}
.breadcrump__item__active {
  color: #7033AC;
}
.breadcrump__item:not(:first-child)::before {
  content: "/";
  margin-right: 3px;
  color: #999999;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-bottom: 12px;
}

.partnership__title {
  margin-bottom: 32px;
}
.partnership__item {
  margin-bottom: 32px;
}
.partnership__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #666666;
}
.partnership .suppliers__text {
  width: 842px;
  height: 145px;
}
.partnership .you-get__text {
  line-height: 150%;
  margin-bottom: 12px;
  padding-left: 37px;
  width: 624px;
}
.partnership .you-get .y-g-1 {
  background-image: url("../../img/network.svg");
}
.partnership .you-get .y-g-2 {
  background-image: url("../../img/briefcase.svg");
}
.partnership .you-get .y-g-3 {
  background-image: url("../../img/git-pull-request.svg");
}
.partnership .benefit__item {
  margin-bottom: 12px;
}
.partnership .benefit__item__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FF862F;
  margin-bottom: 12px;
}
.partnership .benefit__text {
  width: 843px;
}

.guarantee {
  margin-bottom: 65px;
}
.guarantee__list {
  counter-reset: num;
  margin-bottom: 40px;
}
.guarantee__item {
  width: 842px;
  margin-bottom: 13px;
}
.guarantee__item:nth-child(2) {
  width: 838px;
}
.guarantee__item::before {
  content: counter(num) ".";
  counter-increment: num;
  color: #FF862F;
  margin-right: 12px;
}
.guarantee__pencil {
  align-items: center;
}
.guarantee__pencil__img {
  margin-right: 32px;
}
.guarantee__pencil__title {
  width: 515px;
  line-height: 150%;
}/*# sourceMappingURL=partnership.css.map */