* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
.header {
  margin-bottom: 32px;
}
.header__top {
  padding: 17px 0;
  background-color: #F7F7F7;
  height: 50px;
}
.header__top__container {
  justify-content: space-between;
}
.header__top__region {
  position: relative;
  margin-right: 30px;
}
.header__top__region__your {
  margin-right: 4px;
  color: #333333;
}
.header__top__region__choose {
  padding: 2px;
}
.header__top__region__choose p,
.header__top__region__choose svg svg path {
  transition: all 0.3s ease;
}
.header__top__region__choose:hover p {
  color: #C998FB;
}
.header__top__region__choose:hover svg path {
  fill: #C998FB;
}
.header__top__region__choose:focus {
  background-color: #C998FB;
}
.header__top__region__choose:active p, .header__top__region__choose:focus p {
  color: #7033AC;
}
.header__top__region__choose:active svg path, .header__top__region__choose:focus svg path {
  fill: #7033AC;
}
.header__top__region__option {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  margin-right: 4px;
  color: #A65CF0;
}
.header__top__region__btn {
  height: 100%;
}
.header__top__region__arrow {
  pointer-events: none;
  height: 100%;
  transition: transform 0.3s ease;
}
.header__top__region__dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  padding: 16px;
  border: 2px solid #F7F7F7;
  background-color: #FFFFFF;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.header__top__region__city {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 11px;
  cursor: pointer;
}
.header__top__region .region-dropdown-visibility {
  opacity: 1;
  pointer-events: auto;
}
.header__top__region .region-dropdown-rotate {
  transform: rotate(180deg);
}
.header__top__tel {
  align-items: center;
  color: #FF862F;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease;
}
.header__top__tel svg {
  margin-right: -1px;
}
.header__top__tel svg path {
  transition: all 0.3s ease;
}
.header__top__tel:hover {
  color: #FFBD59;
}
.header__top__tel:hover svg path {
  fill: #FFBD59;
}
.header__top__tel:focus {
  background-color: #FFF5D1;
}
.header__top__tel:active {
  color: #BB370E;
}
.header__top__tel:active svg path {
  fill: #BB370E;
}
.header__top__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #999999;
}
.header__top__item {
  margin-right: 44px;
}
.header__top__item:last-child {
  margin-right: -10px;
}
.header__top__link {
  padding: 0 10px;
  transition: all 0.3s ease;
}
.header__top__link:focus {
  background-color: #C998FB;
  color: #7033AC;
}
.header__top__link:hover {
  color: #A65CF0;
}
.header__top__link:active {
  color: #7033AC;
  background-color: transparent;
}
.header__mid {
  padding: 32px 0;
}
.header__mid__container {
  justify-content: space-between;
}
.header__mid__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333333;
  margin-right: 71px;
}
.header__mid__item:last-child {
  margin-right: -10px;
}
.header__mid__link {
  padding: 0 11px 0 10px;
  transition: all 0.3s ease;
}
.header__mid__link:focus {
  background-color: #C998FB;
  color: #7033AC;
}
.header__mid__link:hover {
  color: #A65CF0;
}
.header__mid__link:active {
  color: #7033AC;
  background-color: transparent;
}
.header__mid__burger {
  display: none;
  height: 24px;
}
.header__mid__close {
  display: none;
  height: 24px;
}
.header__bottom__container {
  justify-content: space-between;
  align-items: center;
}
.header__bottom__search {
  position: relative;
  width: 761px;
}
.header__bottom__search__input {
  padding: 20px 100px 20px 59px;
  background-color: #F7F7F7;
  border: 2px solid #F7F7F7;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 60px;
  transition: all 0.3s ease;
}
.header__bottom__search__input:hover {
  background-color: #EAEAEA;
}
.header__bottom__search__input:focus {
  background-color: #F8EFFF;
  border: 2px solid #A65CF0;
}
.header__bottom__search__input:active {
  background-color: #F7F7F7;
  border: 2px solid #F7F7F7;
}
.header__bottom__search__input:active + svg path {
  fill: #A65CF0;
}
.header__bottom__search__icon {
  position: absolute;
  top: 20px;
  left: 32px;
}
.header__bottom__search__btn {
  position: absolute;
  top: 14px;
  right: 32px;
}
.header__bottom__category {
  position: relative;
  width: 300px;
  height: 60px;
  z-index: 10;
}
.header__bottom__category__btn {
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border: 2px solid #F7F7F7;
  border-radius: 0px 10px 10px 0px;
  width: 300px;
  height: 60px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.3s ease;
}
.header__bottom__category__btn:hover {
  border: 2px solid #A65CF0;
}
.header__bottom__category__btn:focus {
  border: 2px solid #A65CF0;
  background-color: #F8EFFF;
}
.header__bottom__category__btn:active {
  border: 2px solid #7033AC;
  background-color: transparent;
}
.header__bottom__category__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #A65CF0;
  pointer-events: none;
}
.header__bottom__category__dropdown {
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 22px 30px;
  width: 300px;
  border: 2px solid #F7F7F7;
  background-color: #FFFFFF;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border-radius: 0px 0px 10px 10px;
}
.header__bottom__category__arrow {
  pointer-events: none;
  transition: all 0.3s ease;
}
.header__bottom__category .category-dropdown-visibility {
  opacity: 1;
  pointer-events: auto;
}
.header__bottom__category .category-dropdown-rotate {
  transform: rotate(180deg);
}
.header__bottom__category__list {
  column-count: 2;
  column-gap: 20px;
}
.header__bottom__category__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 11px;
  cursor: pointer;
}
.header__bottom__right {
  align-items: center;
  height: 28px;
}
.header__bottom__right__icon {
  position: relative;
  display: block;
}
.header__bottom__right__icon svg {
  position: absolute;
}
.header__bottom__right .user {
  width: 26px;
  height: 28px;
}
.header__bottom__right .cart {
  width: 41px;
  height: 28px;
}
.header__bottom__right__icon:first-child {
  margin-right: 32px;
}
.header__bottom__right__icon::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: #C998FB;
  opacity: 0;
  z-index: 1;
}
.header__bottom__right__icon:focus svg {
  fill: #FFFFFF;
  z-index: 10;
}
.header__bottom__right__icon:focus svg path:first-child {
  fill: #FFFFFF;
}
.header__bottom__right__icon:focus::before {
  opacity: 1;
}
.header__bottom__right__icon:hover svg path:first-child {
  fill: #C998FB;
}
.header__bottom__right__icon:active svg path:first-child {
  fill: #7033AC;
}
.header__bottom__right__icon:active::before {
  opacity: 0;
}

.burger-open {
  left: 0 !important;
}

.gray-bg-on-burger {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 900;
  transition: all 1s ease;
}

.gray-bg-on-burger-active {
  visibility: visible;
  opacity: 1;
}

.footer__top {
  padding: 23px 0 24px 0;
  background-color: #EAEAEA;
}
.footer__top__container {
  justify-content: space-between;
}
.footer__top__left {
  flex-direction: column;
  justify-content: space-between;
}
.footer__top__left__social {
  height: 30px;
}
.footer__top__left__social a:not(:last-child) {
  margin-right: 20px;
}
.footer__top__right__list:not(:last-child) {
  margin-right: 0px;
}
.footer__top__right__item {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.footer__top__right__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__top__right .main {
  color: #333333;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
}
.footer .f-t-r-l-1 {
  margin-right: 112px;
}
.footer .f-t-r-l-2 {
  margin-right: 132px;
}
.footer .f-t-r-l-3 {
  margin-right: 145px;
}
.footer__bottom {
  padding: 5px 0;
  height: 30px;
}
.footer__bottom__copyr {
  color: #999999;
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.footer .soc-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.3s ease;
}
.footer .soc-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: #C998FB;
  opacity: 0;
  z-index: 1;
}
.footer .soc-icon svg {
  position: absolute;
  z-index: 10;
}
.footer .soc-icon:focus::before {
  opacity: 1;
}
.footer .soc-icon:focus svg path {
  fill: #FFFFFF;
}
.footer .soc-icon:hover path {
  fill: #A65CF0;
}
.footer .soc-icon:active svg path {
  fill: #7033AC;
}
.footer .soc-icon:active::before {
  opacity: 0;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 30px 30px 32px 30px;
  height: 420px;
  width: 296px;
  border-radius: 10px;
  background-color: #F7F7F7;
}
.card__raiting {
  color: #FF862F;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  background-image: url("../../img/star.svg");
  background-position: left center;
  padding-left: 21px;
}
.card__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 232px;
  margin: 0 auto;
}
.card__title {
  color: #333333;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}
.card__price {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 24px;
}
.card__btn {
  width: 296px;
}

* {
  outline: none;
  text-decoration: none;
  background-repeat: no-repeat;
}

a {
  color: inherit;
}

body {
  font-family: "OpenSans";
  font-weight: 400;
  background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
}

.btn-primary {
  width: 187px;
  height: 60px;
  background-color: #A65CF0;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btn-primary:focus {
  background-color: #C998FB;
  border: 2px solid #7033AC;
}

.btn-primary:hover {
  background-color: #C998FB;
}

.btn-primary:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
}

.btn-primary:disabled {
  background-color: #EAEAEA;
  border: none;
  color: #999999;
}

.btn-secondary {
  width: 128px;
  height: 54px;
  border: 2px solid #A65CF0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #A65CF0;
  transition: all 0.3s ease;
}

.btn-secondary:focus {
  background-color: #C998FB;
  color: #FFFFFF;
}

.btn-secondary:hover {
  background-color: #A65CF0;
  color: #FFFFFF;
}

.btn-secondary:active {
  background-color: #7033AC;
  border: 2px solid #7033AC;
  color: #FFFFFF;
}

.arrow circle,
.arrow path {
  transition: all 0.3s ease;
}

.arrow:focus circle {
  stroke: #A65CF0;
  fill: #C998FB;
}

.arrow:focus path {
  stroke: #FFFFFF;
}

.arrow:hover circle {
  fill: #A65CF0;
}

.arrow:hover path {
  stroke: #FFFFFF;
}

.arrow:active circle {
  fill: #7033AC;
  stroke: #7033AC;
}

.arrow:active path {
  stroke: #FFFFFF;
}

.flex {
  display: flex;
}

.title {
  color: #333333;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 26px;
}

#agree {
  display: none;
}

#agree + .check {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-right: 8px;
  transform: translateY(2px);
  overflow: hidden;
}

#agree + .check:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  right: 0;
  bottom: 0;
}

#agree:checked + .check {
  background-color: #A65CF0;
  border: 1px solid #A65CF0;
}

#agree:checked + .check:before {
  background-color: #A65CF0;
  background-image: url("../../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.just-validate-success-field {
  border: 1px solid #B8EC64 !important;
}

.is-invalid {
  border: 1px solid #FF6972 !important;
}

.breadcrump {
  margin-bottom: 30px;
}
.breadcrump__item {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-right: 6px;
}
.breadcrump__item__active {
  color: #7033AC;
}
.breadcrump__item:not(:first-child)::before {
  content: "/";
  margin-right: 3px;
  color: #999999;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  height: 32px;
  width: 32px;
  margin: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
  --swiper-navigation-size: 0;
}

.swiper-button-disabled svg path,
.swiper-button-disabled svg circle {
  stroke: #999999;
}

.swiper-button-disabled {
  opacity: 1 !important;
}

@media (max-width: 1938px) {
  .container {
    width: 952px !important;
  }
  .header__top {
    margin-top: 58px;
  }
  .header__top__container {
    flex-direction: column;
  }
  .header__top__left {
    position: absolute;
    top: 17px;
    width: 952px;
    justify-content: space-between;
  }
  .header__top__region {
    padding-top: 3px;
  }
  .header__top__list {
    margin-left: -10px;
  }
  .header__bottom__container {
    position: relative;
  }
  .header__bottom__right {
    position: absolute;
    top: -132px;
    right: 0;
  }
  .logo {
    height: 27px;
  }
  .header__mid__item:not(:last-child) {
    margin-right: 21px !important;
  }
  .header__bottom__search,
.header__bottom__search__input {
    width: 652px;
  }
  .hero__slide__img {
    width: fit-content !important;
  }
  .swiper {
    width: 1024px !important;
  }
  .swiper-slide {
    width: 1024px !important;
  }
  .special__swiper,
.special__swiper-wrapper {
    width: 952px !important;
  }
  .special__slide,
.special__slide__main {
    width: 296px !important;
  }
  .special__slide__scheme {
    display: none;
  }
  .special__slide__title {
    margin-bottom: 19px !important;
  }
  .s-s-img-2,
.s-s-img-5 {
    width: 254px !important;
    height: 138px !important;
    margin-bottom: 48px !important;
  }
  .high-raiting__card:nth-child(7),
.high-raiting__card:nth-child(8) {
    display: none;
  }
  .high-raiting__block {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .oxford {
    height: 600px !important;
    margin-bottom: 70px !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-areas: "top-left top-left bottom-left" "bottom-mid top-right bottom-right" !important;
  }
  .top-categories__card {
    width: 296px !important;
    height: 511px !important;
  }
  .t-c-c-1 {
    width: 624px !important;
  }
  .t-c-c-2 {
    background-position: -230px 130px !important;
    background-size: 490px !important;
  }
  .t-c-c-3 {
    background-position: 0px 125px !important;
    background-size: 448px 296px;
  }
  .t-c-c-4 {
    background-position: -228px 125px !important;
    background-size: 480px !important;
  }
  .t-c-c-5 {
    background-position: -161px 107px !important;
    background-size: 449px !important;
  }
  .useful__swiper {
    width: 952px !important;
    height: fit-content !important;
  }
  .useful__wrapper {
    height: 456px !important;
  }
  .useful__slide {
    width: 296px !important;
    height: 456px !important;
    background-size: 100% 202px !important;
  }
  .useful__content {
    width: 296px;
    height: 254px !important;
  }
  .useful__text {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .we-glad__form {
    width: 405px !important;
  }
  .we-glad__img {
    width: 514px !important;
    height: 316px !important;
  }
  .tooltip {
    top: 97px !important;
    right: 322px !important;
  }
  .f-t-r-l-1 {
    margin-right: 75px !important;
  }
  .f-t-r-l-2 {
    margin-right: 95px !important;
  }
  .f-t-r-l-3 {
    margin-right: 110px !important;
  }
}
@media (max-width: 1041px) {
  .container {
    width: 624px !important;
  }
  .header__top__left {
    width: 624px;
  }
  .header__mid__nav {
    position: fixed;
    top: 0;
    left: -100vw;
    padding: 50px;
    transition: all 0.5s ease-in-out;
    background-color: #FFFFFF;
    height: 100vh !important;
    width: 30vw !important;
    z-index: 1000;
  }
  .header__mid__list {
    flex-direction: column;
  }
  .header__mid__close {
    display: block;
    margin-bottom: 20px;
  }
  .header__mid__link {
    padding: 0;
  }
  .header__mid .container {
    justify-content: flex-start !important;
    align-items: center !important;
  }
  .header__bottom__right {
    top: -60px;
  }
  .header__top__list {
    justify-content: space-between;
  }
  .header__top__item:not(:last-child) {
    margin-right: 0px !important;
  }
  .header__bottom__search,
.header__bottom__search__input {
    width: 435px !important;
  }
  .header__bottom__category,
.header__bottom__category__btn {
    width: 189px !important;
  }
  .header__bottom__category__dropdown {
    width: 189px !important;
  }
  .header__bottom__category__list {
    column-count: 1 !important;
  }
  .header__mid__burger {
    display: block !important;
    margin-right: 194px;
  }
  .hero__swiper,
.hero__slide {
    width: 768px !important;
  }
  .special__swiper {
    width: 624px !important;
  }
  .high-raiting__block {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-areas: "top-left top-left" "bottom-left top-right" "bottom-mid  bottom-right" !important;
  }
  .oxford__container {
    width: 696px !important;
  }
  .useful__swiper {
    width: 624px !important;
  }
  .we-glad {
    margin-bottom: 70px !important;
  }
  .we-glad__img {
    width: 187px !important;
    height: 444px !important;
  }
  .we-glad__form__input:last-child {
    margin-bottom: 31px;
  }
  .footer__top {
    padding: 25px 0 !important;
  }
  .footer__top .container {
    flex-direction: column !important;
  }
  .footer__top__left {
    flex-direction: row !important;
    margin-bottom: 22px;
  }
  .f-t-r-l-1 {
    margin-right: 40px !important;
  }
  .f-t-r-l-2 {
    margin-right: 58px !important;
  }
  .f-t-r-l-3 {
    margin-right: 72px !important;
  }
}
@media (max-width: 767px) {
  .container {
    width: 296px !important;
  }
  .header__top {
    margin-top: 0;
  }
  .header__top__left {
    flex-direction: column;
    top: 67px;
    width: 296px;
  }
  .header__top__region {
    margin-bottom: 14px;
  }
  .header__top__nav {
    display: none;
  }
  .header__top__region__dropdown {
    left: 0;
    width: 150px;
    z-index: 10;
  }
  .header__mid {
    height: 159px;
    padding: 0 !important;
  }
  .header__mid__logo {
    position: absolute;
    top: 12px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .header__mid__burger {
    position: absolute;
    top: 156px;
    transform: translateX(4px);
  }
  .header__mid__nav {
    padding: 50px 10px !important;
    width: 70vw !important;
  }
  .header__bottom__left {
    flex-direction: column !important;
  }
  .header__bottom__right {
    top: -56px;
  }
  .header__bottom__search,
.header__bottom__search__input,
.header__bottom__category,
.header__bottom__category__btn {
    width: 296px !important;
    border-radius: 10px !important;
  }
  .header__bottom__search {
    margin-bottom: 16px;
  }
  .header__bottom__category__dropdown {
    width: 296px !important;
  }
  .header__bottom__category__list {
    column-count: 2 !important;
  }
  .hero__swiper {
    margin-bottom: 32px !important;
  }
  .hero__swiper,
.hero__slide {
    width: 320px !important;
    height: 210px !important;
  }
  .hero__content {
    padding: 30px 18px !important;
  }
  .content__title {
    font-size: 20px !important;
    line-height: 27px !important;
  }
  .content__btn {
    display: none;
  }
  .swiper-pagination {
    bottom: 16px !important;
  }
  .swiper-pagination-bullets {
    height: 6px;
    bottom: 19px !important;
  }
  .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    margin-right: 5px !important;
  }
  .hero__bottom__btn {
    display: block !important;
    margin: 0 auto;
    width: 296px !important;
  }
  .title {
    width: 296px;
    font-size: 24px !important;
  }
  .special__swiper {
    width: 296px !important;
    height: 633px !important;
  }
  .special__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .high-raiting__block {
    gap: 16px !important;
  }
  .high-raiting__card {
    padding: 16px !important;
    width: 140px !important;
    height: 278px !important;
  }
  .high-raiting__card__title {
    font-size: 16px !important;
    margin-bottom: 16px !important;
  }
  .high-raiting__card__price {
    margin-bottom: 16px !important;
  }
  .high-raiting__card__btn {
    width: 108px !important;
    height: 40px !important;
  }
  .high-raiting__card__img {
    width: 108px;
    bottom: 188px !important;
  }
  .high-raiting__card__raiting {
    background-size: 12px;
  }
  .oxford {
    height: 302px !important;
  }
  .oxford__container {
    padding: 30px 0 !important;
  }
  .oxford__title {
    font-size: 16px !important;
  }
  .oxford__title span {
    font-size: 24px !important;
  }
  .oxford__btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 296px !important;
  }
  .top-categories {
    margin-bottom: 76px !important;
  }
  .top-categories__block {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 16px !important;
    grid-row-gap: 32px !important;
    grid-template-areas: "top-left top-left" "bottom-left top-right" "bottom-mid bottom-right" !important;
  }
  .top-categories__card {
    position: relative;
    width: 140px !important;
    height: 206px !important;
    justify-content: flex-start !important;
    padding: 16px !important;
  }
  .top-categories__card:first-child {
    padding: 30px !important;
    width: 296px !important;
    height: 332px !important;
  }
  .top-categories__card:first-child .top-categories__card__list {
    flex-direction: row !important;
    margin-bottom: 14px !important;
  }
  .top-categories__card:first-child .top-categories__card__item {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .top-categories__card:first-child .top-categories__card__title {
    font-size: 24px !important;
  }
  .top-categories__card:first-child .top-categories__card__link svg {
    position: absolute;
    top: 66px;
    left: 128px;
  }
  .top-categories__card:not(first-child) .top-categories__card__title {
    font-size: 16px !important;
    line-height: 104% !important;
  }
  .top-categories__card:not(first-child) .top-categories__card__item {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .top-categories__card:not(first-child) .top-categories__card__item:last-child {
    margin-bottom: 0;
  }
  .top-categories__card:not(first-child) .top-categories__card__list {
    flex-direction: column !important;
    margin-bottom: 10px !important;
  }
  .top-categories__card:not(first-child) .top-categories__card__link svg {
    position: absolute;
    top: 48px;
    left: 86px;
  }
  .top-categories__card__item {
    margin-right: 20px !important;
  }
  .top-categories__card__link p {
    display: none;
  }
  .t-c-c-1 {
    background-position: -50px 104px !important;
    background-size: 354px !important;
  }
  .t-c-c-4 {
    background-position: 2px 103px !important;
    background-size: 142px !important;
  }
  .t-c-c-4 .top-categories__card__link svg {
    top: 65px !important;
    left: 95px !important;
  }
  .t-c-c-3 {
    background-position: 0px 86px !important;
    background-size: 157px;
  }
  .t-c-c-2 {
    background-position: -18px 85px !important;
    background-size: 175px !important;
  }
  .t-c-c-2 .top-categories__card__link svg {
    top: 49px !important;
    left: 76px !important;
  }
  .t-c-c-5 {
    background-position: -7px 77px !important;
    background-size: 157px !important;
  }
  .t-c-c-5 .top-categories__card__link svg {
    top: 48px !important;
    left: 75px !important;
  }
  .useful__swiper {
    width: 296px !important;
    height: 557px !important;
  }
  .useful__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .tooltip {
    top: 108px !important;
    left: 138px !important;
  }
  .we-glad {
    margin-bottom: 66px !important;
  }
  .we-glad__form__text {
    margin-bottom: 14px !important;
  }
  .we-glad__form__field p {
    font-size: 12px;
  }
  .we-glad__img {
    display: none;
  }
  .footer__top {
    padding-bottom: 3px !important;
  }
  .footer__top__left__logo {
    margin-bottom: 24px !important;
  }
  .footer__top__left {
    flex-direction: column !important;
    align-items: center;
  }
  .footer__top__right {
    flex-wrap: wrap;
    height: 221px !important;
  }
  .f-t-r-l-1 {
    margin-right: 70px !important;
  }
  .f-t-r-l-2 {
    margin-right: 0px !important;
  }
  .f-t-r-l-3 {
    margin-right: 48px !important;
  }
}
@media (max-width: 767px) {
  .card {
    padding: 16px !important;
    width: 140px !important;
    height: 278px !important;
  }
  .card a {
    height: auto !important;
  }
  .card__raiting {
    font-size: 12px !important;
  }
  .card__img {
    width: 108px !important;
    bottom: 191px !important;
  }
  .card__title {
    font-size: 16px !important;
    margin-bottom: 16px !important;
  }
  .card__price {
    margin-bottom: 16px !important;
  }
  .card__btn {
    width: 108px !important;
    height: 40px !important;
  }
}
@media (max-width: 1938px) {
  .container {
    width: 952px !important;
  }
  .content {
    height: 710px !important;
    margin-bottom: 69px !important;
  }
  .content__left {
    padding-top: 2px;
    width: 514px !important;
  }
  .content__left__gallery__main {
    width: 514px !important;
  }
  .content__left__gallery__bar {
    padding: 9px 10px !important;
  }
  .content__left__scheme__img {
    width: 243px;
  }
  .content__container {
    justify-content: space-between !important;
  }
  .content__right {
    padding-top: 18px !important;
    width: 405px !important;
  }
  .content__right__subtitle {
    margin-bottom: 21px !important;
  }
  .content__right__list {
    width: 405px !important;
  }
  .content__right__item__name {
    width: 189px !important;
  }
  .similar__swiper {
    width: 952px !important;
  }
  .similar__slide {
    width: 296px !important;
  }
  .gallery__window {
    top: 166px;
    width: 952px !important;
    height: 588px !important;
  }
  .gallery__main {
    width: 821px !important;
    height: 322px !important;
    object-fit: contain !important;
  }
  .gallery__bar {
    width: 100% !important;
    height: 166px !important;
  }
  .gallery__swiper {
    width: 819px !important;
  }
  .gallery__swiper__wrapper {
    margin: 0 auto !important;
  }
  .gallery__swiper__slide {
    width: fit-content !important;
  }
}
@media (max-width: 1041px) {
  .container {
    width: 624px !important;
  }
  .content {
    height: auto !important;
    margin-bottom: 30px !important;
  }
  .content__container {
    position: relative;
    flex-direction: column;
  }
  .content__left {
    height: 986px !important;
    margin-bottom: 12px !important;
  }
  .content__left__gallery__main {
    width: 623px !important;
    margin-bottom: 31px !important;
  }
  .content__left__gallery__bar {
    flex-direction: column;
    width: 187px;
    height: 349px;
    padding: 25px 32px !important;
  }
  .content__left__gallery__img {
    margin: 0 !important;
    height: 61px !important;
    object-fit: contain;
  }
  .content__right {
    width: 100% !important;
  }
  .content__right__list {
    width: 100% !important;
  }
  .content__right__top {
    position: absolute !important;
    top: 332px !important;
    right: 38px;
  }
  .content__right__item__name {
    width: 407px !important;
  }
  .similar__swiper {
    width: 624px !important;
  }
  .gallery__window {
    top: 199px !important;
    width: 624px !important;
    height: 494px !important;
    padding-top: 50px !important;
  }
  .gallery__main {
    width: 583px !important;
    height: 228px !important;
    margin: 0 auto !important;
  }
  .gallery__swiper {
    width: 466px !important;
  }
}
@media (max-width: 767px) {
  .container {
    width: 296px !important;
  }
  .header {
    margin-bottom: 32px !important;
  }
  .breadcrump {
    display: none !important;
  }
  .content {
    margin-bottom: 64px !important;
  }
  .content__left {
    padding: 0 !important;
    width: 296px !important;
    height: auto !important;
  }
  .content__left__description {
    margin-bottom: 30px !important;
  }
  .content__left__gallery {
    margin-bottom: 280px !important;
  }
  .content__left__gallery__main {
    width: 296px !important;
    margin-bottom: 13px !important;
  }
  .content__left__gallery__bar {
    flex-direction: row !important;
    padding: 10px !important;
    width: 296px;
    height: 81px;
  }
  .content__left__gallery__img {
    margin-right: 38px !important;
  }
  .content__left__scheme {
    justify-content: space-between !important;
  }
  .content__left__scheme__img {
    width: 140px !important;
    margin: 0 !important;
  }
  .content__right {
    width: 296px !important;
  }
  .content__right__top {
    top: 230px !important;
    right: 0px !important;
  }
  .content__right__title {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .content__right__subtitle {
    width: 244px !important;
    margin-bottom: 16px !important;
  }
  .content__right__price {
    font-size: 24px !important;
    margin-bottom: 15px !important;
  }
  .content__right__btn {
    width: 296px !important;
  }
  .content__right__add-btn {
    margin: 0 auto !important;
  }
  .content__right__list {
    width: 296px !important;
  }
  .content__right__item {
    flex-direction: column !important;
    margin-bottom: 9px !important;
  }
  .content__right__item__name {
    font-size: 10px !important;
    width: auto !important;
  }
  .content__right__item__value {
    line-height: 1em !important;
  }
  .content__right__item__name::after {
    display: none;
  }
  .similar {
    margin-bottom: 69px !important;
  }
  .similar__swiper {
    width: 296px !important;
    height: 380px !important;
  }
  .similar__swiper__head {
    margin-bottom: 21px !important;
  }
  .similar__buttons {
    position: absolute;
    bottom: 0px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .similar__slide {
    width: fit-content !important;
    height: 278px !important;
  }
  .card__img {
    bottom: 178px !important;
  }
  .one-click__window {
    padding: 30px 10px 30px 16px !important;
    width: 296px !important;
    height: 387px !important;
  }
  .one-click__close svg {
    width: 12px !important;
    height: 12px !important;
  }
  .one-click__form__title {
    font-size: 24px !important;
  }
  .one-click__form__text {
    width: 260px !important;
    margin-bottom: 16px !important;
  }
  .one-click__form__input {
    margin-bottom: 16px !important;
    width: 264px !important;
  }
  .one-click__form__field p {
    font-size: 12px !important;
    width: 250px !important;
  }
  .check {
    margin-right: 6px !important;
  }
  .window-thanks {
    height: 216px !important;
  }
  .one-click__window__img {
    top: 60px !important;
    width: 73px !important;
    height: 50px !important;
  }
  .one-click__window__we-call {
    font-size: 16px !important;
    width: 194px !important;
    text-align: center;
    bottom: 60px !important;
  }
  .just-validate-error-label {
    top: -17px !important;
    font-size: 12px !important;
  }
  .checkbox-field .just-validate-error-label {
    top: 15px !important;
    text-align: center;
  }
  .gallery__window {
    width: 296px !important;
    height: 286px !important;
  }
  .gallery__main {
    width: 264px !important;
    height: 104px !important;
  }
  .gallery__swiper {
    width: 172px !important;
  }
  .gallery__bar__img {
    width: 172px !important;
    height: 86px !important;
  }
}
.container {
  width: 1280px;
}

.header {
  margin-bottom: 23px;
}

.content {
  height: 749px;
  margin-bottom: 81px;
}
.content__container {
  justify-content: space-between;
  height: 100%;
}
.content__left {
  flex-direction: column;
  width: 624px;
  height: 100%;
}
.content__left__gallery {
  margin-bottom: 33px;
}
.content__left__gallery__main {
  margin-bottom: 15px;
}
.content__left__gallery__bar {
  justify-content: space-between;
  padding: 8px 25px;
  background-color: #F7F7F7;
  overflow-x: scroll;
}
.content__left__gallery__bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.content__left__gallery__img {
  margin-right: 38px;
  height: 61px;
}
.content__left__description__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 8px;
}
.content__left__description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #333333;
}
.content__left__description__text .br {
  display: block;
  height: 7px;
}
.content__left__scheme {
  padding-left: 2px;
  justify-items: flex-end;
  margin-top: auto;
}
.content__left__scheme__img:first-child {
  margin-right: 32px;
  width: 247px;
}
.content__right {
  padding-top: 13px;
  flex-direction: column;
  width: 624px;
}
.content__right__top {
  flex-direction: column;
}
.content__right__raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #FF862F;
  background-image: url("../../img/star.svg");
  padding-left: 21px;
  background-position: left center;
}
.content__right__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 5px;
}
.content__right__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #999999;
  margin-bottom: 23px;
}
.content__right__price {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 21px;
}
.content__right__btn {
  width: 230px;
  height: 54px;
  margin-bottom: 12px;
}
.content__right__add-btn {
  width: 170px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #A65CF0;
  margin-left: 30px;
  transition: all 0.3s ease;
}
.content__right__add-btn:hover {
  color: #C998FB;
}
.content__right__add-btn:focus {
  background-color: #EBD1FF;
  color: #7033AC;
}
.content__right__add-btn:active {
  color: #7033AC;
  background-color: transparent;
}
.content__right__list {
  margin-top: auto;
}
.content__right__item__name {
  width: 327px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #999999;
  overflow: hidden;
}
.content__right__item__name::after {
  padding: 0 4px;
  content: "................................................................";
  letter-spacing: 0.6em;
  font-weight: 400;
  font-size: 5px;
  line-height: 0px;
}
.content__right__item__value {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #333333;
}

.similar {
  margin-bottom: 68px;
}
.similar__swiper__head {
  justify-content: space-between;
  margin-bottom: 26px;
}
.similar__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin: 0;
}
.similar__buttons {
  justify-content: space-between;
  width: 77px;
  height: 32px;
}
.similar__slide {
  background-color: #F7F7F7;
  border-radius: 10px;
}
.similar .swiper-button-prev,
.similar .swiper-button-next {
  position: static;
  height: 32px;
  width: 32px;
  margin: 0;
}
.similar .swiper-button-prev:after,
.similar .swiper-button-next:after {
  display: none;
  --swiper-navigation-size: 0;
}
.similar .swiper-button-disabled svg path,
.similar .swiper-button-disabled svg circle {
  stroke: #999999;
}
.similar .swiper-button-disabled {
  opacity: 1 !important;
}

.one-click {
  visibility: hidden;
  opacity: 0;
}
.one-click__window {
  position: fixed;
  padding: 30px;
  top: 181px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 624px;
  height: 421px;
  background: #FFFFFF;
  border-radius: 10px;
}
.one-click__window__img {
  position: absolute;
  top: 118px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.one-click__window__we-call {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 122px;
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #333333;
}
.one-click__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.one-click__close:hover svg path {
  fill: #A65CF0;
}
.one-click__close:focus {
  background-color: #EBD1FF;
}
.one-click__close:focus svg path {
  fill: #7033AC;
}
.one-click__close:active {
  background-color: transparent;
}
.one-click__close:active svg path {
  fill: #7033AC;
}
.one-click__form__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 8px;
}
.one-click__form__text {
  width: 374px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  margin-bottom: 30px;
}
.one-click__form__field {
  position: relative;
  flex-direction: column-reverse;
  width: 100%;
}
.one-click__form .checkbox-field .just-validate-error-label {
  top: 20px;
  left: 0;
}
.one-click__form .just-validate-error-label {
  position: absolute;
  top: -22px;
  left: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FF6972 !important;
}
.one-click__form__input {
  padding-left: 18px;
  width: 100%;
  height: 54px;
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.one-click__form__input:hover {
  background-color: #EAEAEA;
}
.one-click__form__input:focus {
  border: 1px solid #A65CF0;
  background-color: #F8EFFF;
}
.one-click__form__input:active {
  color: #333333;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
}
.one-click__form__btn {
  font-weight: 600;
  width: 159px;
  height: 54px;
  margin-bottom: 12px;
}
.one-click__form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
.one-click__form__checkbox {
  width: 14px;
  height: 14px;
  background-color: #A65CF0;
  margin-right: 8px;
}
.one-click__form__link {
  color: #A65CF0;
  text-decoration: underline;
}
.one-click .window-buy,
.one-click .window-thanks {
  visibility: hidden;
  opacity: 0;
}

.dark-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.3);
  z-index: 100;
}

.visibility {
  visibility: visible !important;
  opacity: 1 !important;
}

.scroll {
  overflow: hidden;
}

.gallery {
  visibility: hidden;
  opacity: 0;
}
.gallery__window {
  flex-direction: column;
  position: fixed;
  top: 143px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 1280px;
  height: 684px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}
.gallery__main {
  height: 418px;
  margin: 50px auto 50px auto;
}
.gallery__bar {
  justify-content: space-between;
  margin-top: auto;
  padding: 20px 0px;
  background-color: #F7F7F7;
  width: 100%;
  height: 166px;
}
.gallery__bar__img {
  height: 126px;
  object-fit: contain;
}
.gallery__swiper__slide {
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.gallery__swiper__btn__prev {
  height: 32px !important;
  width: 32px !important;
  top: auto !important;
  left: 16px !important;
  bottom: 67px !important;
}
.gallery__swiper__btn__next {
  height: 32px !important;
  width: 32px !important;
  top: auto !important;
  bottom: 67px !important;
  right: 16px !important;
}/*# sourceMappingURL=productPage.css.map */